In [1]:
def fun1(name):
    print("Hello " + name +"!!")

In [2]:
fun1("pratik")

Hello pratik!!

In [3]:
fun1("shreya")

Hello shreya!!

In [4]:
fun1(100)

TypeError: can only concatenate str (not "int") to str

In [5]:
fun1("100")

Hello 100!!

In [6]:
def fun2(x):
    x = str(x)
    print("Hello " + x +"!!")

In [7]:
fun2(100)

Hello 100!!

In [8]:
fun2("100")

Hello 100!!

In [9]:
def addition(x,y):
    print(x+y)

In [10]:
addition("hello" , "patik")

hellopatik

In [11]:
addition(100 ,200)

300

In [12]:
addition("hello" , 100)

TypeError: can only concatenate str (not "int") to str

In [15]:
#this divison gives float value
def division1(x,y):
    print(x/y)

#this divison gives int value
def division2(x,y):
    print(x//y)

In [16]:
division1(10,5)

2.0

In [18]:
division2(10,5)

2

In [20]:
# f string
def addition(x,y):
    print(f"Addition of {x} and {y} is {x+y}")

In [21]:
addition(3,5)

Addition of 3 and 5 is 8

In [26]:
def multi(x,y):
    print(f"multiplication of {x} and {y} is {x*y}.")

In [27]:
multi(5,2)

multiplication of 5 and 2 is 10.

In [28]:
division1(10,0)

ZeroDivisionError: division by zero

In [32]:
def fun1(name):
    print("Hello " + name +"!!")

In [33]:
fun1(100)

TypeError: can only concatenate str (not "int") to str

In [41]:
def fun1(name):
    print(f"Hello {name}!! and {type(name)}")

In [42]:
fun1(100)

Hello 100!! and <class 'int'>

In [43]:
fun1("pratik")

Hello pratik!! and <class 'str'>

In [49]:
def addtion1(x,y):
    return x+y

In [51]:
result = addtion1(10,20)
print(result)

30

In [52]:
print(addtion1(10,20))

30

In [54]:
b = addtion1(addtion(10,20),30)
print(b)

60

In [57]:
print(f"addition of two numbers is {addtion1(10,20)}")

addition of two numbers is 30

In [58]:
def addtion2(x,y):
    return print(f"addition of {x} and {y} is {x+y}")

In [59]:
addtion2(10,20)

addition of 10 and 20 is 30

In [62]:
#return multiple value at same time
def add3(x,y):
    return (x,y,x+y)

In [63]:
p,q,r = add3(20,30)
print(f"the addition of {p} and {q} is {r} ")

the addition of 20 and 30 is 50

In [68]:
#default agruments
def add4(x=0,y=0):
    print(f"addition of {x} and {y} is {x+y} ")

In [69]:
add4()

addition of 0 and 0 is 0

In [70]:
add4(10)

addition of 10 and 0 is 10

In [71]:
add4(10,20)

addition of 10 and 20 is 30

In [80]:
def info(name,price = 10,quantity = 1):
    total_price = price * quantity
    print(f"the total amount of product {name} for quantity {quantity} is {total_price}")

In [81]:
info("laptop",5000,5)

the total amount of product laptop for quantity 5 is 25000

In [82]:
def marks(t_marks,p_marks,b_marks = 5):
    t_marks = t_marks + p_marks + b_marks
    if t_marks > 100:
        t_marks = 100
    print(f"total score is {t_marks}")

In [83]:
marks(50,40)

total score is 95

In [84]:
marks(40,60,10)

total score is 100

In [85]:
marks(40,70)

total score is 100

In [86]:
def check(n):
    if n>0:
        print(f" {n} is positive")
    elif n<0:
        print(f" {n} is negative")
    else:
        print(f" {n} is zero")

    if n%2 == 0:
        print(f" {n} is even")
    else:
        print(f" {n} is odd")

    if n%3 == 0:
        print(f" {n} is divisible by 3")
    else:
        print(f" {n} is not divisible by 3")
        
    if n%5 == 0:
        print(f" {n} is divisible by 5")
    else:
        print(f" {n} is not divisible by 5")

In [87]:
check(10)

 10 is positive
 10 is even
 10 is not divisible by 3
 10 is divisible by 5

In [88]:
check(-15)

 -15 is negative
 -15 is odd
 -15 is divisible by 3
 -15 is divisible by 5