In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.date_range("2025-10-31",periods = 10, freq = "ME")

DatetimeIndex(['2025-10-31', '2025-11-30', '2025-12-31', '2026-01-31',
               '2026-02-28', '2026-03-31', '2026-04-30', '2026-05-31',
               '2026-06-30', '2026-07-31'],
              dtype='datetime64[ns]', freq='ME')

In [4]:
pd.date_range("2025-10-31",periods = 10, freq = "D")

DatetimeIndex(['2025-10-31', '2025-11-01', '2025-11-02', '2025-11-03',
               '2025-11-04', '2025-11-05', '2025-11-06', '2025-11-07',
               '2025-11-08', '2025-11-09'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range("2025-10-31",periods = 10, freq = "YE")

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [7]:
# What is Pandas --> pandas is a python library used for oprations on DataFrame 
# What is DataFrame --> Framed Data (in rows and column format)

In [8]:
dict1 = {
    "Name" : ["Pratik","shreya" ," Varad"],
    "Gender" : ["Male","Female","Male"],
    "Class" : ["ten","Seven","Five"]
}

In [9]:
dict1

{'Name': ['Pratik', 'shreya', ' Varad'],
 'Gender': ['Male', 'Female', 'Male'],
 'Class': ['ten', 'Seven', 'Five']}

In [13]:
dict1["Name"][0]

'Pratik'

In [14]:
dict1["Name"]

['Pratik', 'shreya', ' Varad']

In [15]:
type(dict1)

dict

In [16]:
type(dict1["Name"])

list

In [21]:
df = pd.DataFrame(dict1)     # D and F in the DataFrame need to capitalized.
df

     Name  Gender  Class
0  Pratik    Male    ten
1  shreya  Female  Seven
2   Varad    Male   Five

In [31]:
list1 = [
    {"Name" : "Pratik" , "Gender" : "Male" , "Class":"ten"},
    {"Name" : "Shreya" , "Gender" : "Female" , "Class":"seven"},
    {"Name" : "Varad" , "Gender" : "Male" , "Class":"five"},
]

In [32]:
type(list1)

list

In [33]:
list1[0]

{'Name': 'Pratik', 'Gender': 'Male', 'Class': 'ten'}

In [34]:
list1[0]["Name"]

'Pratik'

In [35]:
type(list1[0])

dict

In [36]:
df2 = pd.DataFrame(list1)
df2

     Name  Gender  Class
0  Pratik    Male    ten
1  Shreya  Female  seven
2   Varad    Male   five

In [37]:
list2 = [
    {"Name" : "Pratik" , "Gender" : "Male" , "Class":"ten"},
    {"Name" : "Shreya" , "Gender" : "Female" , "Class":"seven"},
    {"Name_of" : "Varad" , "Gender" : "Male" , "Class":"five"},
]

In [38]:
list2

[{'Name': 'Pratik', 'Gender': 'Male', 'Class': 'ten'},
 {'Name': 'Shreya', 'Gender': 'Female', 'Class': 'seven'},
 {'Name_of': 'Varad', 'Gender': 'Male', 'Class': 'five'}]

In [39]:
pd.DataFrame(list2)

     Name  Gender  Class Name_of
0  Pratik    Male    ten     NaN
1  Shreya  Female  seven     NaN
2     NaN    Male   five   Varad

In [40]:
string1 = """
a,b,c
d,e,f
g,h,i
j,k,l
m,n,o
"""

In [42]:
string1

'\na,b,c\nd,e,f\ng,h,i\nj,k,l\nm,n,o\n'

In [43]:
string1.split()

['a,b,c', 'd,e,f', 'g,h,i', 'j,k,l', 'm,n,o']

In [44]:
string1.split(",")

['\na', 'b', 'c\nd', 'e', 'f\ng', 'h', 'i\nj', 'k', 'l\nm', 'n', 'o\n']

In [45]:
string1.split("\n")

['', 'a,b,c', 'd,e,f', 'g,h,i', 'j,k,l', 'm,n,o', '']

In [88]:
string1.split("\n" & ",")

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [49]:
string1.split("\n").split(",")

AttributeError: 'list' object has no attribute 'split'

In [50]:
import re     # regular expression module

In [54]:
re.split('[,\n]+',string1.strip())    #remove extra spaces -> start and end of the string

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

In [59]:
re.split('[,\n]+',string1)    #any one character inside these brackets, split wherever there’s a comma OR a newline

['',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 '']

In [60]:
re.split('[,\n]',string1)      #above + means ->one or more of them (it merges consecutive delimiters).

['',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 '']

In [69]:
data = """
A, B, C; D, E, F
G, H, I
J, K, L; M, N, O
"""

In [78]:
data1 = re.split('[\n;+]',data)
data1

['', 'A, B, C', ' D, E, F', 'G, H, I', 'J, K, L', ' M, N, O', '']

In [79]:
data1 = data1.strip()

AttributeError: 'list' object has no attribute 'strip'

In [80]:
data1 = re.split('[\n;+]',data.strip())

In [81]:
data1

['A, B, C', ' D, E, F', 'G, H, I', 'J, K, L', ' M, N, O']

In [84]:
data2 = re.split("[';\n+]",data.strip())
data2

['A, B, C', ' D, E, F', 'G, H, I', 'J, K, L', ' M, N, O']

In [87]:
table = [re.split(r'\s*,\s*', row.strip()) for row in data1]
print(table)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I'], ['J', 'K', 'L'], ['M', 'N', 'O']]

Explanation:

We’re looping through each row (for row in rows).

Inside each row, we use re.split(r'\s*,\s*', row.strip()).

\s* means “zero or more spaces”.

So it splits on commas, even if they have spaces before or after.

.strip() again removes leftover spaces.

In [89]:
string1 = """
a,b,c
d,e,f
g,h,i
j,k,l
m,n,o
"""

In [90]:
string1.split()

['a,b,c', 'd,e,f', 'g,h,i', 'j,k,l', 'm,n,o']

In [92]:
string1.split("\n")

['', 'a,b,c', 'd,e,f', 'g,h,i', 'j,k,l', 'm,n,o', '']

In [91]:
string1.split(",")

['\na', 'b', 'c\nd', 'e', 'f\ng', 'h', 'i\nj', 'k', 'l\nm', 'n', 'o\n']

In [90]:
string1.split()

['a,b,c', 'd,e,f', 'g,h,i', 'j,k,l', 'm,n,o']

In [95]:
string1.split()[0]

'a,b,c'

In [96]:
string1.split()[0][0]

'a'

In [97]:
string1.split()[0].split(",")

['a', 'b', 'c']

In [99]:
pd.DataFrame(
    s.split(",") for s in string1.split()
)

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i
3  j  k  l
4  m  n  o

In [102]:
df1 = pd.read_csv("Python1.csv")

In [103]:
df2 = pd.read_csv("Python2.csv")

In [104]:
df1.head()

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False

In [105]:
df2.head()

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN
2,1688,Robert,Martin,r.martin@gmail.com,Saint Kitts and Nevis,Credit Card,NaN
3,1753,Richard,Martin,r.martin@yahoo.com,Hungary,Bank Transfer,Esse sit qui in.
4,1686,William,Taylor,w.taylor@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN

In [106]:
df1.columns

Index(['booking_id', 'hotel_name', 'city', 'check_in_date', 'nights', 'guests',
       'room_type', 'price_per_night', 'booking_status', 'guest_rating',
       'breakfast_included'],
      dtype='object')

In [107]:
df2.columns

Index(['booking_id', 'guest_first_name', 'guest_last_name', 'email',
       'country_of_origin', 'payment_method', 'special_request'],
      dtype='object')

In [109]:
len(df1)      # number of rows

123

In [111]:
df1.shape     # number of rows and columns

(123, 11)

In [113]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   booking_id          123 non-null    int64
 1   hotel_name          123 non-null    object
 2   city                123 non-null    object
 3   check_in_date       123 non-null    object
 4   nights              123 non-null    int64
 5   guests              123 non-null    int64
 6   room_type           123 non-null    object
 7   price_per_night     123 non-null    int64
 8   booking_status      123 non-null    object
 9   guest_rating        101 non-null    float64
 10  breakfast_included  123 non-null    bool
dtypes: bool(1), float64(1), int64(4), object(5)
memory usage: 9.9+ KB

In [114]:
df2.columns

Index(['booking_id', 'guest_first_name', 'guest_last_name', 'email',
       'country_of_origin', 'payment_method', 'special_request'],
      dtype='object')

In [115]:
df2.shape

(157, 7)

In [116]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   booking_id         157 non-null    int64
 1   guest_first_name   157 non-null    object
 2   guest_last_name    157 non-null    object
 3   email              157 non-null    object
 4   country_of_origin  157 non-null    object
 5   payment_method     157 non-null    object
 6   special_request    18 non-null     object
dtypes: int64(1), object(6)
memory usage: 8.7+ KB

In [118]:
df2.tail(2)

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
155,3047,John,Miller,j.miller@hotmail.com,Dominica,Bank Transfer,NaN
156,1003,Jennifer,Davis,j.davis@yahoo.com,Slovenia,Credit Card,NaN

In [119]:
df2.index

RangeIndex(start=0, stop=157, step=1)

In [120]:
type(df2)

pandas.core.frame.DataFrame

In [121]:
type(df2["email"])

pandas.core.series.Series

In [124]:
type(df2[["email"]])

pandas.core.frame.DataFrame

In [125]:
df2[["email"]]

                      email
0         m.young@yahoo.com
1    a.martinez@hotmail.com
2        r.martin@gmail.com
3        r.martin@yahoo.com
4        w.taylor@gmail.com
..                      ...
152       p.jones@yahoo.com
153     s.brown@hotmail.com
154   j.johnson@hotmail.com
155    j.miller@hotmail.com
156       j.davis@yahoo.com

[157 rows x 1 columns]

In [127]:
df2["email"]

0           m.young@yahoo.com
1      a.martinez@hotmail.com
2          r.martin@gmail.com
3          r.martin@yahoo.com
4          w.taylor@gmail.com
                ...
152         p.jones@yahoo.com
153       s.brown@hotmail.com
154     j.johnson@hotmail.com
155      j.miller@hotmail.com
156         j.davis@yahoo.com
Name: email, Length: 157, dtype: object

In [132]:
df1.loc[1]     #loc -> location

booking_id                   1535
hotel_name            Grand Plaza
city                        Paris
check_in_date          03-06-2025
nights                          8
guests                          3
room_type                   Suite
price_per_night               374
booking_status          Completed
guest_rating                  3.6
breakfast_included           True
Name: 1, dtype: object

In [133]:
df1.iloc[1]     #iloc -> index location

booking_id                   1535
hotel_name            Grand Plaza
city                        Paris
check_in_date          03-06-2025
nights                          8
guests                          3
room_type                   Suite
price_per_night               374
booking_status          Completed
guest_rating                  3.6
breakfast_included           True
Name: 1, dtype: object

In [134]:
df1_indexed = df1.set_index("booking_id")

In [136]:
df1.head(2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True

In [138]:
df1_indexed.head(2)

,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
booking_id,,,,,,,,,,
1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True

In [139]:
df1.loc[1]

booking_id                   1535
hotel_name            Grand Plaza
city                        Paris
check_in_date          03-06-2025
nights                          8
guests                          3
room_type                   Suite
price_per_night               374
booking_status          Completed
guest_rating                  3.6
breakfast_included           True
Name: 1, dtype: object

In [143]:
df1_indexed.loc[1]         #it not find location 1 in index column booking id

KeyError: 1

In [146]:
df1_indexed.loc[1535]         #it find location 1535 in index column booking id

hotel_name            Grand Plaza
city                        Paris
check_in_date          03-06-2025
nights                          8
guests                          3
room_type                   Suite
price_per_night               374
booking_status          Completed
guest_rating                  3.6
breakfast_included           True
Name: 1535, dtype: object

In [145]:
df1.iloc[1]

booking_id                   1535
hotel_name            Grand Plaza
city                        Paris
check_in_date          03-06-2025
nights                          8
guests                          3
room_type                   Suite
price_per_night               374
booking_status          Completed
guest_rating                  3.6
breakfast_included           True
Name: 1, dtype: object

In [148]:
df1_indexed.iloc[1]                #they not give error beacuse that give value/ row of at index 1 in dataFrame -> not check in index column (booking_id)

hotel_name            Grand Plaza
city                        Paris
check_in_date          03-06-2025
nights                          8
guests                          3
room_type                   Suite
price_per_night               374
booking_status          Completed
guest_rating                  3.6
breakfast_included           True
Name: 1535, dtype: object

In [149]:
df1.iloc[:5]       #first five rows

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False

In [151]:
df1.iloc[2:5]       #between two to five rows

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False

In [154]:
df1.iloc[2:5,:3]       #between two to five rows and zero to 3 columns

   booking_id   hotel_name      city
2        1514  Budget Stay  New York
3        1706  Budget Stay    Sydney
4        1918  Budget Stay    London

In [155]:
df1.iloc[2:5,3:5]       #between two to five rows and three to five columns

  check_in_date  nights
2    18-04-2024       6
3    01-08-2024       9
4    18-05-2025       1

In [157]:
df1.iloc[2:5][3:5]       #this give two to five rows from df1 and then they give three to five rows from latest cut dataframe

Empty DataFrame
Columns: [booking_id, hotel_name, city, check_in_date, nights, guests, room_type, price_per_night, booking_status, guest_rating, breakfast_included]
Index: []

In [161]:
cut_dataframe = df1.iloc[2:5]   #this give two to five rows from df1
cut_dataframe

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False

In [162]:
cut_dataframe.iloc[3:5]       #give three to five rows from latest cut dataframe

Empty DataFrame
Columns: [booking_id, hotel_name, city, check_in_date, nights, guests, room_type, price_per_night, booking_status, guest_rating, breakfast_included]
Index: []

In [163]:
df1.iloc[2:5][3:5]       #this give two to five rows from df1 and then they give three to five rows from latest cut dataframe

Empty DataFrame
Columns: [booking_id, hotel_name, city, check_in_date, nights, guests, room_type, price_per_night, booking_status, guest_rating, breakfast_included]
Index: []

above two querys are same

In [165]:
df1.iloc[10,:]          #this give 10 th rows from df1 with all columns

booking_id                       1242
hotel_name            Lakeview Resort
city                           London
check_in_date              09-01-2025
nights                              9
guests                              2
room_type                    Standard
price_per_night                   171
booking_status              Confirmed
guest_rating                      4.6
breakfast_included              False
Name: 10, dtype: object

In [166]:
df1.iloc[10,:5]          #this give 10 th rows from df1 with upto 5 columns

booking_id                  1242
hotel_name       Lakeview Resort
city                      London
check_in_date         09-01-2025
nights                         9
Name: 10, dtype: object

In [169]:
df1.loc[:,"city"]       #q1. display all rows of column name city using loc

0      New York
1         Paris
2      New York
3        Sydney
4        London
         ...
118      London
119       Paris
120      Berlin
121       Paris
122    New York
Name: city, Length: 123, dtype: object

In [171]:
df1["city"]        #q1. display all rows of column name city

0      New York
1         Paris
2      New York
3        Sydney
4        London
         ...
118      London
119       Paris
120      Berlin
121       Paris
122    New York
Name: city, Length: 123, dtype: object

In [173]:
df1["booking_status"].unique()

array(['Completed', 'Confirmed', 'Cancelled'], dtype=object)

In [175]:
df1["booking_status"].value_counts()

booking_status
Completed    54
Confirmed    50
Cancelled    19
Name: count, dtype: int64

In [176]:
df1["room_type"].unique()

array(['Deluxe', 'Suite', 'Standard'], dtype=object)

In [179]:
df1["room_type"].unique()

array(['Deluxe', 'Suite', 'Standard'], dtype=object)

In [178]:
df1["room_type"].value_counts()

room_type
Suite       43
Standard    43
Deluxe      37
Name: count, dtype: int64

filtering in dataframe

Q1. booking status is confirmed

In [188]:
df1["booking_status"] == "Confirmed"

0      False
1      False
2      False
3      False
4      False
       ...
118     True
119    False
120    False
121    False
122    False
Name: booking_status, Length: 123, dtype: bool

In [191]:
a = df1["booking_status"] == "Confirmed"
df1[a]        #if answer is true then display the value and for false not display

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
5,1833,Oceanfront,Sydney,16-03-2024,3,2,Suite,387,Confirmed,3.8,False
7,1712,Oceanfront,Sydney,20-11-2024,7,2,Standard,171,Confirmed,2.7,True
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
12,1909,Grand Plaza,Berlin,22-03-2024,6,1,Standard,186,Confirmed,3.4,True
14,1731,Oceanfront,Berlin,25-06-2024,3,4,Standard,137,Confirmed,NaN,True
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
19,1165,Budget Stay,Sydney,23-02-2025,5,1,Standard,167,Confirmed,NaN,False
21,1578,Oceanfront,Berlin,27-02-2025,1,4,Standard,104,Confirmed,4.7,False
23,1167,City Inn,Sydney,03-04-2025,1,1,Standard,159,Confirmed,4.9,False
24,1345,Lakeview Resort,Tokyo,20-11-2024,6,2,Standard,101,Confirmed,4.2,False
27,1686,Budget Stay,Berlin,02-10-2024,7,4,Standard,143,Confirmed,4.7,True
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
40,1630,Grand Plaza,Sydney,02-09-2024,3,4,Standard,120,Confirmed,3.6,True
41,1832,Lakeview Resort,Tokyo,30-05-2024,4,3,Standard,156,Confirmed,4.0,True
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
46,1830,Grand Plaza,Tokyo,18-05-2025,6,3,Suite,431,Confirmed,2.7,True
47,1410,Mountain Peak,Paris,24-05-2025,3,2,Suite,414,Confirmed,2.9,True
50,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
60,1973,Grand Plaza,Berlin,17-02-2025,4,2,Suite,385,Confirmed,2.7,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
75,1997,Oceanfront,Paris,18-04-2025,6,2,Standard,143,Confirmed,3.8,False
77,1682,Grand Plaza,Sydney,25-06-2024,4,2,Standard,176,Confirmed,4.5,True
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
81,1119,Oceanfront,Tokyo,11-10-2024,2,4,Standard,120,Confirmed,3.5,True
83,1148,City Inn,Berlin,23-06-2024,7,3,Suite,365,Confirmed,4.2,False
84,1203,Oceanfront,Paris,07-07-2024,6,1,Suite,385,Confirmed,NaN,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
90,1646,City Inn,Sydney,01-08-2024,1,3,Suite,391,Confirmed,3.3,True
91,1181,Lakeview Resort,Tokyo,09-01-2024,1,2,Standard,163,Confirmed,4.6,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
95,1022,Grand Plaza,Tokyo,16-12-2024,6,1,Suite,397,Confirmed,NaN,True
100,1218,Mountain Peak,Berlin,18-05-2024,4,1,Standard,172,Confirmed,4.6,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [192]:
df1[df1["booking_status"] == "Confirmed"]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
5,1833,Oceanfront,Sydney,16-03-2024,3,2,Suite,387,Confirmed,3.8,False
7,1712,Oceanfront,Sydney,20-11-2024,7,2,Standard,171,Confirmed,2.7,True
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
12,1909,Grand Plaza,Berlin,22-03-2024,6,1,Standard,186,Confirmed,3.4,True
14,1731,Oceanfront,Berlin,25-06-2024,3,4,Standard,137,Confirmed,NaN,True
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
19,1165,Budget Stay,Sydney,23-02-2025,5,1,Standard,167,Confirmed,NaN,False
21,1578,Oceanfront,Berlin,27-02-2025,1,4,Standard,104,Confirmed,4.7,False
23,1167,City Inn,Sydney,03-04-2025,1,1,Standard,159,Confirmed,4.9,False
24,1345,Lakeview Resort,Tokyo,20-11-2024,6,2,Standard,101,Confirmed,4.2,False
27,1686,Budget Stay,Berlin,02-10-2024,7,4,Standard,143,Confirmed,4.7,True
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
40,1630,Grand Plaza,Sydney,02-09-2024,3,4,Standard,120,Confirmed,3.6,True
41,1832,Lakeview Resort,Tokyo,30-05-2024,4,3,Standard,156,Confirmed,4.0,True
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
46,1830,Grand Plaza,Tokyo,18-05-2025,6,3,Suite,431,Confirmed,2.7,True
47,1410,Mountain Peak,Paris,24-05-2025,3,2,Suite,414,Confirmed,2.9,True
50,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
60,1973,Grand Plaza,Berlin,17-02-2025,4,2,Suite,385,Confirmed,2.7,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
75,1997,Oceanfront,Paris,18-04-2025,6,2,Standard,143,Confirmed,3.8,False
77,1682,Grand Plaza,Sydney,25-06-2024,4,2,Standard,176,Confirmed,4.5,True
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
81,1119,Oceanfront,Tokyo,11-10-2024,2,4,Standard,120,Confirmed,3.5,True
83,1148,City Inn,Berlin,23-06-2024,7,3,Suite,365,Confirmed,4.2,False
84,1203,Oceanfront,Paris,07-07-2024,6,1,Suite,385,Confirmed,NaN,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
90,1646,City Inn,Sydney,01-08-2024,1,3,Suite,391,Confirmed,3.3,True
91,1181,Lakeview Resort,Tokyo,09-01-2024,1,2,Standard,163,Confirmed,4.6,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
95,1022,Grand Plaza,Tokyo,16-12-2024,6,1,Suite,397,Confirmed,NaN,True
100,1218,Mountain Peak,Berlin,18-05-2024,4,1,Standard,172,Confirmed,4.6,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [220]:
df1.query("booking_status == 'Confirmed'")

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
5,1833,Oceanfront,Sydney,16-03-2024,3,2,Suite,387,Confirmed,3.8,False
7,1712,Oceanfront,Sydney,20-11-2024,7,2,Standard,171,Confirmed,2.7,True
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
12,1909,Grand Plaza,Berlin,22-03-2024,6,1,Standard,186,Confirmed,3.4,True
14,1731,Oceanfront,Berlin,25-06-2024,3,4,Standard,137,Confirmed,NaN,True
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
19,1165,Budget Stay,Sydney,23-02-2025,5,1,Standard,167,Confirmed,NaN,False
21,1578,Oceanfront,Berlin,27-02-2025,1,4,Standard,104,Confirmed,4.7,False
23,1167,City Inn,Sydney,03-04-2025,1,1,Standard,159,Confirmed,4.9,False
24,1345,Lakeview Resort,Tokyo,20-11-2024,6,2,Standard,101,Confirmed,4.2,False
27,1686,Budget Stay,Berlin,02-10-2024,7,4,Standard,143,Confirmed,4.7,True
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
40,1630,Grand Plaza,Sydney,02-09-2024,3,4,Standard,120,Confirmed,3.6,True
41,1832,Lakeview Resort,Tokyo,30-05-2024,4,3,Standard,156,Confirmed,4.0,True
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
46,1830,Grand Plaza,Tokyo,18-05-2025,6,3,Suite,431,Confirmed,2.7,True
47,1410,Mountain Peak,Paris,24-05-2025,3,2,Suite,414,Confirmed,2.9,True
50,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
60,1973,Grand Plaza,Berlin,17-02-2025,4,2,Suite,385,Confirmed,2.7,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
75,1997,Oceanfront,Paris,18-04-2025,6,2,Standard,143,Confirmed,3.8,False
77,1682,Grand Plaza,Sydney,25-06-2024,4,2,Standard,176,Confirmed,4.5,True
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
81,1119,Oceanfront,Tokyo,11-10-2024,2,4,Standard,120,Confirmed,3.5,True
83,1148,City Inn,Berlin,23-06-2024,7,3,Suite,365,Confirmed,4.2,False
84,1203,Oceanfront,Paris,07-07-2024,6,1,Suite,385,Confirmed,NaN,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
90,1646,City Inn,Sydney,01-08-2024,1,3,Suite,391,Confirmed,3.3,True
91,1181,Lakeview Resort,Tokyo,09-01-2024,1,2,Standard,163,Confirmed,4.6,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
95,1022,Grand Plaza,Tokyo,16-12-2024,6,1,Suite,397,Confirmed,NaN,True
100,1218,Mountain Peak,Berlin,18-05-2024,4,1,Standard,172,Confirmed,4.6,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [193]:
# Q1. booking = confirmed and roomtype is delux

In [194]:
df1.head(2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True

In [201]:
df1[(df1["booking_status"] == "Confirmed" ) & ( df1["room_type"] == "Deluxe")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [202]:
# Q1. booking = confirmed or roomtype is delux

In [203]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
5,1833,Oceanfront,Sydney,16-03-2024,3,2,Suite,387,Confirmed,3.8,False
6,1513,City Inn,Berlin,28-07-2024,9,3,Deluxe,222,Completed,4.1,False
7,1712,Oceanfront,Sydney,20-11-2024,7,2,Standard,171,Confirmed,2.7,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
...,...,...,...,...,...,...,...,...,...,...,...
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [225]:
df1.query("booking_status == 'Confirmed'").query("room_type =='Deluxe'")

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [227]:
df1.query("booking_status == 'Confirmed' & room_type =='Deluxe'")

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [205]:
df1.describe()

        booking_id      nights      guests  price_per_night  guest_rating
count   123.000000  123.000000  123.000000       123.000000    101.000000
mean   1580.487805    5.650407    2.406504       263.243902      3.958416
std     275.515325    2.854343    1.144032       110.273976      0.627099
min    1001.000000    1.000000    1.000000       101.000000      2.500000
25%    1381.500000    3.000000    1.000000       161.000000      3.400000
50%    1654.000000    6.000000    2.000000       245.000000      4.100000
75%    1784.500000    9.000000    3.000000       379.000000      4.500000
max    1997.000000   10.000000    4.000000       444.000000      4.900000

In [206]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")].describe()

        booking_id     nights     guests  price_per_night  guest_rating
count    73.000000  73.000000  73.000000        73.000000     59.000000
mean   1559.986301   5.369863   2.410959       237.082192      3.891525
std     269.153379   2.720840   1.128367        87.077353      0.643613
min    1003.000000   1.000000   1.000000       101.000000      2.700000
25%    1374.000000   3.000000   1.000000       167.000000      3.400000
50%    1630.000000   5.000000   2.000000       229.000000      4.000000
75%    1769.000000   7.000000   3.000000       274.000000      4.400000
max    1997.000000  10.000000   4.000000       431.000000      4.900000

In [208]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")]["price_per_night"].describe()

count     73.000000
mean     237.082192
std       87.077353
min      101.000000
25%      167.000000
50%      229.000000
75%      274.000000
max      431.000000
Name: price_per_night, dtype: float64

In [209]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")]["guests","price_per_night"].describe()

KeyError: ('guests', 'price_per_night')

In [210]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")][["guests","price_per_night"]].describe()

          guests  price_per_night
count  73.000000        73.000000
mean    2.410959       237.082192
std     1.128367        87.077353
min     1.000000       101.000000
25%     1.000000       167.000000
50%     2.000000       229.000000
75%     3.000000       274.000000
max     4.000000       431.000000

In [211]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")][["guests","price_per_night"]].mean()

guests               2.410959
price_per_night    237.082192
dtype: float64

In [212]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")][["guests","price_per_night"]].sum()

guests               176
price_per_night    17307
dtype: int64

In [213]:
df1[(df1["booking_status"] == "Confirmed" ) | ( df1["room_type"] == "Deluxe")]["price_per_night"].sum()

17307

In [228]:
df1.query("booking_status == 'Confirmed' & room_type =='Deluxe'").describe()

        booking_id     nights     guests  price_per_night  guest_rating
count    14.000000  14.000000  14.000000        14.000000      8.000000
mean   1648.714286   5.428571   2.357143       241.285714      3.800000
std     184.916792   2.847787   1.150728        23.176343      0.560612
min    1238.000000   1.000000   1.000000       202.000000      2.900000
25%    1523.250000   3.000000   1.250000       230.000000      3.350000
50%    1717.500000   5.500000   2.000000       241.500000      4.000000
75%    1756.250000   7.000000   3.000000       257.500000      4.225000
max    1870.000000  10.000000   4.000000       281.000000      4.400000

In [230]:
df1.query("booking_status == 'Confirmed' & room_type =='Deluxe'")["price_per_night"].describe()

count     14.000000
mean     241.285714
std       23.176343
min      202.000000
25%      230.000000
50%      241.500000
75%      257.500000
max      281.000000
Name: price_per_night, dtype: float64

In [231]:
df1.query("booking_status == 'Confirmed' & room_type =='Deluxe'")[["price_per_night"]].describe()

       price_per_night
count        14.000000
mean        241.285714
std          23.176343
min         202.000000
25%         230.000000
50%         241.500000
75%         257.500000
max         281.000000

In [232]:
df1.query("booking_status == 'Confirmed' & room_type =='Deluxe'")[["nights","price_per_night"]].describe()

          nights  price_per_night
count  14.000000        14.000000
mean    5.428571       241.285714
std     2.847787        23.176343
min     1.000000       202.000000
25%     3.000000       230.000000
50%     5.500000       241.500000
75%     7.000000       257.500000
max    10.000000       281.000000

In [214]:
df1["nights"]*df1["guests"]

0       9
1      24
2      18
3      36
4       4
       ..
118     6
119    30
120    30
121    12
122     9
Length: 123, dtype: int64

In [215]:
df1["nights"] + df1["guests"]

0       6
1      11
2       9
3      13
4       5
       ..
118     5
119    13
120    13
121     8
122     6
Length: 123, dtype: int64

In [216]:
df1["nights"] - df1["guests"]

0      0
1      5
2      3
3      5
4     -3
      ..
118    1
119    7
120    7
121    4
122    0
Length: 123, dtype: int64

In [217]:
df1["nights"] / df1["guests"]

0      1.000000
1      2.666667
2      2.000000
3      2.250000
4      0.250000
         ...
118    1.500000
119    3.333333
120    3.333333
121    3.000000
122    1.000000
Length: 123, dtype: float64

In [218]:
df1["nights"] // df1["guests"]

0      1
1      2
2      2
3      2
4      0
      ..
118    1
119    3
120    3
121    3
122    1
Length: 123, dtype: int64

In [233]:
# q2. city == london

In [235]:
df1.query("city == 'London'")

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
30,1912,Grand Plaza,London,01-03-2025,9,4,Suite,416,Completed,3.6,True
32,1375,Mountain Peak,London,27-11-2024,8,1,Suite,385,Completed,NaN,False
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True
109,1304,City Inn,London,28-07-2024,10,4,Suite,393,Cancelled,4.0,False
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [236]:
df1[df1["city"]=="London"]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
30,1912,Grand Plaza,London,01-03-2025,9,4,Suite,416,Completed,3.6,True
32,1375,Mountain Peak,London,27-11-2024,8,1,Suite,385,Completed,NaN,False
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True
109,1304,City Inn,London,28-07-2024,10,4,Suite,393,Cancelled,4.0,False
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True

In [239]:
df1.query("city == 'London' | city=='New York'")

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
30,1912,Grand Plaza,London,01-03-2025,9,4,Suite,416,Completed,3.6,True
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
32,1375,Mountain Peak,London,27-11-2024,8,1,Suite,385,Completed,NaN,False
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
109,1304,City Inn,London,28-07-2024,10,4,Suite,393,Cancelled,4.0,False
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [240]:
df1[(df1["city"]=="London") | (df1["city"] == "New York")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
30,1912,Grand Plaza,London,01-03-2025,9,4,Suite,416,Completed,3.6,True
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
32,1375,Mountain Peak,London,27-11-2024,8,1,Suite,385,Completed,NaN,False
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
109,1304,City Inn,London,28-07-2024,10,4,Suite,393,Cancelled,4.0,False
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [241]:
df1[df1["city"].isin(["London","New York"])]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
30,1912,Grand Plaza,London,01-03-2025,9,4,Suite,416,Completed,3.6,True
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
32,1375,Mountain Peak,London,27-11-2024,8,1,Suite,385,Completed,NaN,False
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
109,1304,City Inn,London,28-07-2024,10,4,Suite,393,Cancelled,4.0,False
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False