In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("Python1.csv")
df2 = pd.read_csv("Python2.csv")

In [3]:
#iteration row or iter row

In [4]:
df1.head(2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True

In [5]:
list(df1.iterrows())

[(0,
  booking_id                  1780
  hotel_name            Oceanfront
  city                    New York
  check_in_date         24-03-2024
  nights                         3
  guests                         3
  room_type                 Deluxe
  price_per_night              211
  booking_status         Completed
  guest_rating                 4.6
  breakfast_included         False
  Name: 0, dtype: object),
 (1,
  booking_id                   1535
  hotel_name            Grand Plaza
  city                        Paris
  check_in_date          03-06-2025
  nights                          8
  guests                          3
  room_type                   Suite
  price_per_night               374
  booking_status          Completed
  guest_rating                  3.6
  breakfast_included           True
  Name: 1, dtype: object),
 (2,
  booking_id                   1514
  hotel_name            Budget Stay
  city                     New York
  check_in_date          18-04-2024
  nights                          6
  guests                          3
  room_type                Standard
  price_per_night               163
  booking_status          Completed
  guest_rating                  4.2
  breakfast_included          False
  Name: 2, dtype: object),
 (3,
  booking_id                   1706
  hotel_name            Budget Stay
  city                       Sydney
  check_in_date          01-08-2024
  nights                          9
  guests                          4
  room_type                   Suite
  price_per_night               406
  booking_status          Completed
  guest_rating                  NaN
  breakfast_included           True
  Name: 3, dtype: object),
 (4,
  booking_id                   1918
  hotel_name            Budget Stay
  city                       London
  check_in_date          18-05-2025
  nights                          1
  guests                          4
  room_type                Standard
  price_per_night               120
  booking_status          Completed
  guest_rating                  4.2
  breakfast_included          False
  Name: 4, dtype: object),
 (5,
  booking_id                  1833
  hotel_name            Oceanfront
  city                      Sydney
  check_in_date         16-03-2024
  nights                         3
  guests                         2
  room_type                  Suite
  price_per_night              387
  booking_status         Confirmed
  guest_rating                 3.8
  breakfast_included         False
  Name: 5, dtype: object),
 (6,
  booking_id                  1513
  hotel_name              City Inn
  city                      Berlin
  check_in_date         28-07-2024
  nights                         9
  guests                         3
  room_type                 Deluxe
  price_per_night              222
  booking_status         Completed
  guest_rating                 4.1
  breakfast_included         False
  Name: 6, dtype: object),
 (7,
  booking_id                  1712
  hotel_name            Oceanfront
  city                      Sydney
  check_in_date         20-11-2024
  nights                         7
  guests                         2
  room_type               Standard
  price_per_night              171
  booking_status         Confirmed
  guest_rating                 2.7
  breakfast_included          True
  Name: 7, dtype: object),
 (8,
  booking_id                     1675
  hotel_name            Mountain Peak
  city                       New York
  check_in_date            12-02-2025
  nights                            2
  guests                            3
  room_type                     Suite
  price_per_night                 422
  booking_status            Completed
  guest_rating                    3.5
  breakfast_included             True
  Name: 8, dtype: object),
 (9,
  booking_id                     1607
  hotel_name            Mountain Peak
  city                       New York
  check_in_date            25-08-2024
  nights                            9
  guests                            2
  room_type                    Deluxe
  price_per_night                 269
  booking_status            Cancelled
  guest_rating                    3.4
  breakfast_included            False
  Name: 9, dtype: object),
 (10,
  booking_id                       1242
  hotel_name            Lakeview Resort
  city                           London
  check_in_date              09-01-2025
  nights                              9
  guests                              2
  room_type                    Standard
  price_per_night                   171
  booking_status              Confirmed
  guest_rating                      4.6
  breakfast_included              False
  Name: 10, dtype: object),
 (11,
  booking_id                  1260
  hotel_name            Oceanfront
  city                       Paris
  check_in_date         21-06-2025
  nights                         9
  guests                         3
  room_type                 Deluxe
  price_per_night              259
  booking_status         Completed
  guest_rating                 4.4
  breakfast_included          True
  Name: 11, dtype: object),
 (12,
  booking_id                   1909
  hotel_name            Grand Plaza
  city                       Berlin
  check_in_date          22-03-2024
  nights                          6
  guests                          1
  room_type                Standard
  price_per_night               186
  booking_status          Confirmed
  guest_rating                  3.4
  breakfast_included           True
  Name: 12, dtype: object),
 (13,
  booking_id                  1001
  hotel_name              City Inn
  city                    New York
  check_in_date         02-01-2024
  nights                         1
  guests                         1
  room_type                  Suite
  price_per_night              414
  booking_status         Completed
  guest_rating                 3.4
  breakfast_included         False
  Name: 13, dtype: object),
 (14,
  booking_id                  1731
  hotel_name            Oceanfront
  city                      Berlin
  check_in_date         25-06-2024
  nights                         3
  guests                         4
  room_type               Standard
  price_per_night              137
  booking_status         Confirmed
  guest_rating                 NaN
  breakfast_included          True
  Name: 14, dtype: object),
 (15,
  booking_id                  1391
  hotel_name            Oceanfront
  city                       Tokyo
  check_in_date         26-01-2024
  nights                         4
  guests                         2
  room_type                  Suite
  price_per_night              384
  booking_status         Cancelled
  guest_rating                 4.7
  breakfast_included          True
  Name: 15, dtype: object),
 (16,
  booking_id                       1764
  hotel_name            Lakeview Resort
  city                            Tokyo
  check_in_date              03-08-2024
  nights                              5
  guests                              1
  room_type                    Standard
  price_per_night                   156
  booking_status              Completed
  guest_rating                      NaN
  breakfast_included              False
  Name: 16, dtype: object),
 (17,
  booking_id                  1747
  hotel_name              City Inn
  city                    New York
  check_in_date         23-06-2025
  nights                         7
  guests                         2
  room_type               Standard
  price_per_night              102
  booking_status         Confirmed
  guest_rating                 3.4
  breakfast_included         False
  Name: 17, dtype: object),
 (18,
  booking_id                   1748
  hotel_name            Budget Stay
  city                       Sydney
  check_in_date          03-04-2024
  nights                          4
  guests                          4
  room_type                  Deluxe
  price_per_night               245
  booking_status          Confirmed
  guest_rating                  3.4
  breakfast_included           True
  Name: 18, dtype: object),
 (19,
  booking_id                   1165
  hotel_name            Budget Stay
  city                       Sydney
  check_in_date          23-02-2025
  nights                          5
  guests                          1
  room_type                Standard
  price_per_night               167
  booking_status          Confirmed
  guest_rating                  NaN
  breakfast_included          False
  Name: 19, dtype: object),
 (20,
  booking_id                       1723
  hotel_name            Lakeview Resort
  city                            Paris
  check_in_date              19-02-2024
  nights                             10
  guests                              3
  room_type                    Standard
  price_per_night                   183
  booking_status              Cancelled
  guest_rating                      4.7
  breakfast_included              False
  Name: 20, dtype: object),
 (21,
  booking_id                  1578
  hotel_name            Oceanfront
  city                      Berlin
  check_in_date         27-02-2025
  nights                         1
  guests                         4
  room_type               Standard
  price_per_night              104
  booking_status         Confirmed
  guest_rating                 4.7
  breakfast_included         False
  Name: 21, dtype: object),
 (22,
  booking_id                  1609
  hotel_name            Oceanfront
  city                      Berlin
  check_in_date         07-12-2024
  nights                         9
  guests                         2
  room_type               Standard
  price_per_night              102
  booking_status         Completed
  guest_rating                 3.7
  breakfast_included          True
  Name: 22, dtype: object),
 (23,
  booking_id                  1167
  hotel_name              City Inn
  city                      Sydney
  check_in_date         03-04-2025
  nights                         1
  guests                         1
  room_type               Standard
  price_per_night              159
  booking_status         Confirmed
  guest_rating                 4.9
  breakfast_included         False
  Name: 23, dtype: object),
 (24,
  booking_id                       1345
  hotel_name            Lakeview Resort
  city                            Tokyo
  check_in_date              20-11-2024
  nights                              6
  guests                              2
  room_type                    Standard
  price_per_night                   101
  booking_status              Confirmed
  guest_rating                      4.2
  breakfast_included              False
  Name: 24, dtype: object),
 (25,
  booking_id                       1141
  hotel_name            Lakeview Resort
  city                            Paris
  check_in_date              17-02-2025
  nights                              9
  guests                              1
  room_type                    Standard
  price_per_night                   118
  booking_status              Completed
  guest_rating                      NaN
  breakfast_included              False
  Name: 25, dtype: object),
 (26,
  booking_id                       1733
  hotel_name            Lakeview Resort
  city                            Tokyo
  check_in_date              07-12-2024
  nights                              4
  guests                              1
  room_type                    Standard
  price_per_night                   109
  booking_status              Completed
  guest_rating                      2.5
  breakfast_included              False
  Name: 26, dtype: object),
 (27,
  booking_id                   1686
  hotel_name            Budget Stay
  city                       Berlin
  check_in_date          02-10-2024
  nights                          7
  guests                          4
  room_type                Standard
  price_per_night               143
  booking_status          Confirmed
  guest_rating                  4.7
  breakfast_included           True
  Name: 27, dtype: object),
 (28,
  booking_id                     1784
  hotel_name            Mountain Peak
  city                       New York
  check_in_date            06-07-2024
  nights                            9
  guests                            3
  room_type                     Suite
  price_per_night                 392
  booking_status            Confirmed
  guest_rating                    4.6
  breakfast_included            False
  Name: 28, dtype: object),
 (29,
  booking_id                   1629
  hotel_name            Grand Plaza
  city                        Paris
  check_in_date          08-01-2025
  nights                         10
  guests                          2
  room_type                  Deluxe
  price_per_night               281
  booking_status          Confirmed
  guest_rating                  NaN
  breakfast_included          False
  Name: 29, dtype: object),
 (30,
  booking_id                   1912
  hotel_name            Grand Plaza
  city                       London
  check_in_date          01-03-2025
  nights                          9
  guests                          4
  room_type                   Suite
  price_per_night               416
  booking_status          Completed
  guest_rating                  3.6
  breakfast_included           True
  Name: 30, dtype: object),
 (31,
  booking_id                     1219
  hotel_name            Mountain Peak
  city                       New York
  check_in_date            09-04-2025
  nights                            5
  guests                            1
  room_type                    Deluxe
  price_per_night                 274
  booking_status            Completed
  guest_rating                    2.9
  breakfast_included             True
  Name: 31, dtype: object),
 (32,
  booking_id                     1375
  hotel_name            Mountain Peak
  city                         London
  check_in_date            27-11-2024
  nights                            8
  guests                            1
  room_type                     Suite
  price_per_night                 385
  booking_status            Completed
  guest_rating                    NaN
  breakfast_included            False
  Name: 32, dtype: object),
 (33,
  booking_id                       1870
  hotel_name            Lakeview Resort
  city                            Tokyo
  check_in_date              31-07-2024
  nights                              2
  guests                              4
  room_type                      Deluxe
  price_per_night                   247
  booking_status              Confirmed
  guest_rating                      NaN
  breakfast_included              False
  Name: 33, dtype: object),
 (34,
  booking_id                       1204
  hotel_name            Lakeview Resort
  city                            Tokyo
  check_in_date              20-01-2024
  nights                              7
  guests                              4
  room_type                       Suite
  price_per_night                   444
  booking_status              Completed
  guest_rating                      3.2
  breakfast_included              False
  Name: 34, dtype: object),
 (35,
  booking_id                     1617
  hotel_name            Mountain Peak
  city                         Berlin
  check_in_date            13-01-2024
  nights                            6
  guests                            2
  room_type                     Suite
  price_per_night                 374
  booking_status            Completed
  guest_rating                    NaN
  breakfast_included            False
  Name: 35, dtype: object),
 (36,
  booking_id                   1486
  hotel_name            Budget Stay
  city                       London
  check_in_date          01-08-2024
  nights                          1
  guests                          1
  room_type                   Suite
  price_per_night               417
  booking_status          Cancelled
  guest_rating                  4.2
  breakfast_included           True
  Name: 36, dtype: object),
 (37,
  booking_id                     1168
  hotel_name            Mountain Peak
  city                       New York
  check_in_date            20-01-2024
  nights                            8
  guests                            3
  room_type                     Suite
  price_per_night                 414
  booking_status            Confirmed
  guest_rating                    3.8
  breakfast_included             True
  Name: 37, dtype: object),
 (38,
  booking_id                   1808
  hotel_name            Grand Plaza
  city                       Sydney
  check_in_date          25-01-2024
  nights                          9
  guests                          2
  room_type                   Suite
  price_per_night               427
  booking_status          Completed
  guest_rating                  4.5
  breakfast_included          False
  Name: 38, dtype: object),
 (39,
  booking_id                       1539
  hotel_name            Lakeview Resort
  city                           London
  check_in_date              04-04-2025
  nights                              1
  guests                              1
  room_type                       Suite
  price_per_night                   373
  booking_status              Cancelled
  guest_rating                      4.7
  breakfast_included              False
  Name: 39, dtype: object),
 (40,
  booking_id                   1630
  hotel_name            Grand Plaza
  city                       Sydney
  check_in_date          02-09-2024
  nights                          3
  guests                          4
  room_type                Standard
  price_per_night               120
  booking_status          Confirmed
  guest_rating                  3.6
  breakfast_included           True
  Name: 40, dtype: object),
 (41,
  booking_id                       1832
  hotel_name            Lakeview Resort
  city                            Tokyo
  check_in_date              30-05-2024
  nights                              4
  guests                              3
  room_type                    Standard
  price_per_night                   156
  booking_status              Confirmed
  guest_rating                      4.0
  breakfast_included               True
  Name: 41, dtype: object),
 (42,
  booking_id                  1905
  hotel_name              City Inn
  city                      Sydney
  check_in_date         09-02-2025
  nights                        10
  guests                         2
  room_type                  Suite
  price_per_night              358
  booking_status         Completed
  guest_rating                 3.8
  breakfast_included         False
  Name: 42, dtype: object),
 (43,
  booking_id                  1954
  hotel_name            Oceanfront
  city                    New York
  check_in_date         20-11-2024
  nights                         4
  guests                         3
  room_type               Standard
  price_per_night              134
  booking_status         Confirmed
  guest_rating                 NaN
  breakfast_included         False
  Name: 43, dtype: object),
 (44,
  booking_id                   1700
  hotel_name            Grand Plaza
  city                       Berlin
  check_in_date          02-08-2024
  nights                          1
  guests                          1
  room_type                  Deluxe
  price_per_night               268
  booking_status          Confirmed
  guest_rating                  NaN
  breakfast_included           True
  Name: 44, dtype: object),
 (45,
  booking_id                  1424
  hotel_name              City Inn
  city                       Paris
  check_in_date         20-08-2024
  nights                         5
  guests                         1

In [6]:
type(list(df1.iterrows()))

list

In [7]:
#i want to print top 10 citys

In [8]:
for a,b in df1.iterrows():
    if a>9:
        break
    print(a,b["city"])

0 New York
1 Paris
2 New York
3 Sydney
4 London
5 Sydney
6 Berlin
7 Sydney
8 New York
9 New York

In [9]:
#sort booking value

In [10]:
df1.sort_values(by= "booking_id",ascending = False).head()

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
75,1997,Oceanfront,Paris,18-04-2025,6,2,Standard,143,Confirmed,3.8,False
63,1994,City Inn,Paris,06-11-2024,2,3,Suite,427,Completed,2.9,True
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
60,1973,Grand Plaza,Berlin,17-02-2025,4,2,Suite,385,Confirmed,2.7,False
50,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False

In [11]:
df1.sort_values(by= "booking_id",ascending = True).head()

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
95,1022,Grand Plaza,Tokyo,16-12-2024,6,1,Suite,397,Confirmed,NaN,True
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True

In [12]:
df1.sort_values(by= ["city","booking_id"],ascending = True).head()

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True
83,1148,City Inn,Berlin,23-06-2024,7,3,Suite,365,Confirmed,4.2,False
100,1218,Mountain Peak,Berlin,18-05-2024,4,1,Standard,172,Confirmed,4.6,False
68,1370,City Inn,Berlin,14-01-2025,3,3,Suite,431,Completed,4.6,False
48,1399,Grand Plaza,Berlin,22-09-2024,7,1,Standard,128,Cancelled,4.8,True

In [13]:
df1.sort_values(by= ["city","booking_id"],ascending = [True,False]).head()

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
60,1973,Grand Plaza,Berlin,17-02-2025,4,2,Suite,385,Confirmed,2.7,False
50,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False
12,1909,Grand Plaza,Berlin,22-03-2024,6,1,Standard,186,Confirmed,3.4,True
14,1731,Oceanfront,Berlin,25-06-2024,3,4,Standard,137,Confirmed,NaN,True
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True

In [14]:
df1["city"].str.upper().head()

0    NEW YORK
1       PARIS
2    NEW YORK
3      SYDNEY
4      LONDON
Name: city, dtype: object

In [15]:
df1["city"].str.lower().head()

0    new york
1       paris
2    new york
3      sydney
4      london
Name: city, dtype: object

In [16]:
df1["city"].str.contains("NEW YORK")

0      False
1      False
2      False
3      False
4      False
       ...
118    False
119    False
120    False
121    False
122    False
Name: city, Length: 123, dtype: bool

In [17]:
df1["city"].str.upper().str.contains("NEW YORK")

0       True
1      False
2       True
3      False
4      False
       ...
118    False
119    False
120    False
121    False
122     True
Name: city, Length: 123, dtype: bool

In [18]:
df1["city"].str.lower().str.contains("new york")

0       True
1      False
2       True
3      False
4      False
       ...
118    False
119    False
120    False
121    False
122     True
Name: city, Length: 123, dtype: bool

In [19]:
df1[df1["city"].str.lower().str.contains("new york")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [20]:
df1[df1["city"].str.lower().str.contains("new york|london")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
30,1912,Grand Plaza,London,01-03-2025,9,4,Suite,416,Completed,3.6,True
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
32,1375,Mountain Peak,London,27-11-2024,8,1,Suite,385,Completed,NaN,False
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
89,1835,Lakeview Resort,London,11-03-2025,3,1,Suite,369,Confirmed,3.2,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
109,1304,City Inn,London,28-07-2024,10,4,Suite,393,Cancelled,4.0,False
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [21]:
df1[df1["city"].str.lower().str.contains("new york|london|berlin")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False
6,1513,City Inn,Berlin,28-07-2024,9,3,Deluxe,222,Completed,4.1,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
...,...,...,...,...,...,...,...,...,...,...,...
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
117,1809,Mountain Peak,London,09-11-2024,9,1,Suite,392,Confirmed,2.7,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [22]:
#lambda function

In [23]:
addition_lambda = lambda x:x+1

In [24]:
addition_lambda(2)

3

In [25]:
def addition(x):
    return x+1

In [26]:
addition(2)

3

In [27]:
df1.head(2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True

In [28]:
df1["room_type"].str.startswith("D")

0       True
1      False
2      False
3      False
4      False
       ...
118     True
119    False
120     True
121     True
122     True
Name: room_type, Length: 123, dtype: bool

In [29]:
df1["room_type"].str.lower().str.startswith("d")

0       True
1      False
2      False
3      False
4      False
       ...
118     True
119    False
120     True
121     True
122     True
Name: room_type, Length: 123, dtype: bool

In [30]:
df1[df1["room_type"].str.lower().str.startswith("d")]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
6,1513,City Inn,Berlin,28-07-2024,9,3,Deluxe,222,Completed,4.1,False
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
11,1260,Oceanfront,Paris,21-06-2025,9,3,Deluxe,259,Completed,4.4,True
18,1748,Budget Stay,Sydney,03-04-2024,4,4,Deluxe,245,Confirmed,3.4,True
29,1629,Grand Plaza,Paris,08-01-2025,10,2,Deluxe,281,Confirmed,NaN,False
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
33,1870,Lakeview Resort,Tokyo,31-07-2024,2,4,Deluxe,247,Confirmed,NaN,False
44,1700,Grand Plaza,Berlin,02-08-2024,1,1,Deluxe,268,Confirmed,NaN,True
45,1424,City Inn,Paris,20-08-2024,5,1,Deluxe,223,Cancelled,3.4,True
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False
55,1581,Mountain Peak,Sydney,03-03-2025,6,4,Deluxe,211,Cancelled,4.2,True
56,1814,Budget Stay,Tokyo,03-03-2024,5,1,Deluxe,202,Confirmed,NaN,True
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
65,1608,City Inn,London,09-12-2024,10,1,Deluxe,201,Completed,3.4,False
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False
73,1433,Oceanfront,Berlin,28-07-2024,9,3,Deluxe,236,Confirmed,2.9,True
76,1388,Grand Plaza,Paris,28-01-2024,3,4,Deluxe,259,Completed,4.2,False
79,1419,Mountain Peak,Paris,16-02-2025,3,2,Deluxe,233,Confirmed,NaN,True
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
82,1772,Grand Plaza,London,24-05-2024,3,2,Deluxe,249,Completed,3.2,False
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False
86,1713,Mountain Peak,Tokyo,10-03-2024,3,4,Deluxe,206,Completed,4.0,False
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
97,1366,Budget Stay,Paris,26-01-2024,4,4,Deluxe,268,Cancelled,4.2,False
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
113,1488,Budget Stay,London,01-09-2024,7,3,Deluxe,223,Confirmed,3.9,True
114,1512,City Inn,Tokyo,09-02-2024,3,1,Deluxe,259,Cancelled,NaN,False
116,1575,Budget Stay,Sydney,28-09-2024,10,1,Deluxe,282,Completed,4.4,False
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [31]:
#join

In [32]:
df1.head(2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True

In [33]:
df2.head(2)

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN

In [34]:
df2.shape

(157, 7)

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   booking_id         157 non-null    int64
 1   guest_first_name   157 non-null    object
 2   guest_last_name    157 non-null    object
 3   email              157 non-null    object
 4   country_of_origin  157 non-null    object
 5   payment_method     157 non-null    object
 6   special_request    18 non-null     object
dtypes: int64(1), object(6)
memory usage: 8.7+ KB

In [36]:
df2 = df2.dropna()     # where null value is present they remove all the row

In [37]:
df2.shape

(18, 7)

In [38]:
df2 = pd.read_csv("Python2.csv")

In [39]:
df2.shape

(157, 7)

In [40]:
#join df1 to df

In [41]:
df1.merge(df2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,James,Williams,j.williams@yahoo.com,Holy See (Vatican City State),PayPal,NaN
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,Lisa,Williams,l.williams@gmail.com,Bolivia,Bank Transfer,NaN
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,Sarah,Johnson,s.johnson@hotmail.com,United States,Credit Card,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,Linda,Miller,l.miller@yahoo.com,Chad,Credit Card,NaN
116,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,Sarah,Miller,s.miller@gmail.com,Kiribati,Credit Card,NaN
117,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,Jennifer,Davis,j.davis@yahoo.com,Slovenia,Credit Card,NaN
118,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,Kelly,Wright,k.wright@gmail.com,Antigua and Barbuda,Credit Card,NaN
119,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN

In [42]:
df1.merge(df2,on="booking_id")           #having same column name in both dataset

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,James,Williams,j.williams@yahoo.com,Holy See (Vatican City State),PayPal,NaN
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,Lisa,Williams,l.williams@gmail.com,Bolivia,Bank Transfer,NaN
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,Sarah,Johnson,s.johnson@hotmail.com,United States,Credit Card,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,Linda,Miller,l.miller@yahoo.com,Chad,Credit Card,NaN
116,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,Sarah,Miller,s.miller@gmail.com,Kiribati,Credit Card,NaN
117,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,Jennifer,Davis,j.davis@yahoo.com,Slovenia,Credit Card,NaN
118,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,Kelly,Wright,k.wright@gmail.com,Antigua and Barbuda,Credit Card,NaN
119,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN

In [43]:
df3 = df1.merge(df2,on="booking_id")

In [44]:
df3.head()

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,James,Williams,j.williams@yahoo.com,Holy See (Vatican City State),PayPal,NaN
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,Lisa,Williams,l.williams@gmail.com,Bolivia,Bank Transfer,NaN
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,Sarah,Johnson,s.johnson@hotmail.com,United States,Credit Card,NaN

In [45]:
df2["id"] = df2["booking_id"]
df2.head()

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN,1522
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN,1880
2,1688,Robert,Martin,r.martin@gmail.com,Saint Kitts and Nevis,Credit Card,NaN,1688
3,1753,Richard,Martin,r.martin@yahoo.com,Hungary,Bank Transfer,Esse sit qui in.,1753
4,1686,William,Taylor,w.taylor@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN,1686

In [46]:
df4 = df1.merge(df2,left_on="booking_id",right_on = "id").head(2)           #having diffrent column name in both dataset
df4

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,1780,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN,1780
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,1535,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN,1535

lift_on is used to left table and right_on used for right table

In [47]:
df1.merge(df2,on="booking_id").head(2)           #having same column name in both dataset

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN,1780
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN,1535

avoid duplicate names and data in column -> python handle that to adding _x and _y to the ned of same column

In [48]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   booking_id_x        2 non-null      int64
 1   hotel_name          2 non-null      object
 2   city                2 non-null      object
 3   check_in_date       2 non-null      object
 4   nights              2 non-null      int64
 5   guests              2 non-null      int64
 6   room_type           2 non-null      object
 7   price_per_night     2 non-null      int64
 8   booking_status      2 non-null      object
 9   guest_rating        2 non-null      float64
 10  breakfast_included  2 non-null      bool
 11  booking_id_y        2 non-null      int64
 12  guest_first_name    2 non-null      object
 13  guest_last_name     2 non-null      object
 14  email               2 non-null      object
 15  country_of_origin   2 non-null      object
 16  payment_method      2 non-null      object
 17  special_request     0 non-null      object
 18  id                  2 non-null      int64
dtypes: bool(1), float64(1), int64(6), object(11)
memory usage: 422.0+ bytes

In [49]:
#column renameing

In [50]:
df2.columns

Index(['booking_id', 'guest_first_name', 'guest_last_name', 'email',
       'country_of_origin', 'payment_method', 'special_request', 'id'],
      dtype='object')

In [51]:
df2_rename = df2.rename({"booking_id" : "booking_id_rename"},axis =1)
df2_rename.columns

Index(['booking_id_rename', 'guest_first_name', 'guest_last_name', 'email',
       'country_of_origin', 'payment_method', 'special_request', 'id'],
      dtype='object')

In [52]:
df1.merge(df2_rename, left_on = "booking_id" , right_on = "id").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   booking_id          120 non-null    int64
 1   hotel_name          120 non-null    object
 2   city                120 non-null    object
 3   check_in_date       120 non-null    object
 4   nights              120 non-null    int64
 5   guests              120 non-null    int64
 6   room_type           120 non-null    object
 7   price_per_night     120 non-null    int64
 8   booking_status      120 non-null    object
 9   guest_rating        98 non-null     float64
 10  breakfast_included  120 non-null    bool
 11  booking_id_rename   120 non-null    int64
 12  guest_first_name    120 non-null    object
 13  guest_last_name     120 non-null    object
 14  email               120 non-null    object
 15  country_of_origin   120 non-null    object
 16  payment_method      120 non-null    object
 17  special_request     13 non-null     object
 18  id                  120 non-null    int64
dtypes: bool(1), float64(1), int64(6), object(11)
memory usage: 17.1+ KB

In [53]:
df2["id"] = df2["email"]

In [54]:
df2.head(2)

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN,m.young@yahoo.com
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN,a.martinez@hotmail.com

In [55]:
df2["id"] = df2["booking_id"]

In [56]:
df2.head(2)

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN,1522
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN,1880

In [57]:
df2.rename({"booking_id": "book_id_new","guest_first_name" : "First_name","guest_last_name":"last_name"},axis=1).columns      #rename multiple columns

Index(['book_id_new', 'First_name', 'last_name', 'email', 'country_of_origin',
       'payment_method', 'special_request', 'id'],
      dtype='object')

In [58]:
#join df1 and df2 only on top 5 rows on df1

In [59]:
df1.head(5).merge(df2,left_on = "booking_id" , right_on = "id")

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,1780,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN,1780
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,1535,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN,1535
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,1514,James,Williams,j.williams@yahoo.com,Holy See (Vatican City State),PayPal,NaN,1514
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,1706,Lisa,Williams,l.williams@gmail.com,Bolivia,Bank Transfer,NaN,1706
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,1918,Sarah,Johnson,s.johnson@hotmail.com,United States,Credit Card,NaN,1918

In [60]:
df1[:5].merge(df2,left_on = "booking_id" , right_on = "id")

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,1780,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN,1780
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,1535,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN,1535
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,1514,James,Williams,j.williams@yahoo.com,Holy See (Vatican City State),PayPal,NaN,1514
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,1706,Lisa,Williams,l.williams@gmail.com,Bolivia,Bank Transfer,NaN,1706
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,1918,Sarah,Johnson,s.johnson@hotmail.com,United States,Credit Card,NaN,1918

In [61]:
df1.shape

(123, 11)

In [62]:
df2.shape

(157, 8)

In [63]:
df1[:5].merge(df2,left_on = "booking_id" , right_on = "id",how = "left").shape

(5, 19)

In [64]:
df1[:5].merge(df2,left_on = "booking_id" , right_on = "id",how = "right").shape

(157, 19)

In [65]:
df1[:5].merge(df2,left_on = "booking_id" , right_on = "id",how = "left").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   booking_id_x        5 non-null      int64
 1   hotel_name          5 non-null      object
 2   city                5 non-null      object
 3   check_in_date       5 non-null      object
 4   nights              5 non-null      int64
 5   guests              5 non-null      int64
 6   room_type           5 non-null      object
 7   price_per_night     5 non-null      int64
 8   booking_status      5 non-null      object
 9   guest_rating        4 non-null      float64
 10  breakfast_included  5 non-null      bool
 11  booking_id_y        5 non-null      int64
 12  guest_first_name    5 non-null      object
 13  guest_last_name     5 non-null      object
 14  email               5 non-null      object
 15  country_of_origin   5 non-null      object
 16  payment_method      5 non-null      object
 17  special_request     0 non-null      object
 18  id                  5 non-null      int64
dtypes: bool(1), float64(1), int64(6), object(11)
memory usage: 857.0+ bytes

In [66]:
df2.sample(2)           #select randomly in the df2

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
100,1814,Jennifer,Brown,j.brown@gmail.com,Sudan,Credit Card,NaN,1814
38,1067,Barbara,Miller,b.miller@gmail.com,France,Bank Transfer,NaN,1067

In [67]:
df2.sample()           #select randomly in the df2

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
38,1067,Barbara,Miller,b.miller@gmail.com,France,Bank Transfer,NaN,1067

In [68]:
df2.sample(10)           #select randomly in the df2

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
4,1686,William,Taylor,w.taylor@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN,1686
129,1488,Jessica,Williams,j.williams@yahoo.com,Tonga,Credit Card,NaN,1488
13,1824,Michael,Hill,m.hill@gmail.com,Guinea-Bissau,Debit Card,NaN,1824
69,1912,Mary,Johnson,m.johnson@hotmail.com,Saint Kitts and Nevis,Credit Card,NaN,1912
10,1290,Joseph,Mendoza,j.mendoza@yahoo.com,Haiti,Debit Card,NaN,1290
21,1204,Melissa,Young,m.young@hotmail.com,Samoa,Credit Card,Ea est non tempora.,1204
90,1618,Patricia,Williams,p.williams@yahoo.com,Togo,Bank Transfer,NaN,1618
143,3007,Elizabeth,Smith,e.smith@yahoo.com,Equatorial Guinea,Credit Card,NaN,3007
84,1700,James,Miller,j.miller@yahoo.com,Guinea-Bissau,Debit Card,NaN,1700
116,1264,Michael,Smith,m.smith@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN,1264

In [71]:
df2.shape

(157, 8)

In [72]:
df2.head(500)             #if head(500) > size of data set -> it okey they will understand

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN,1522
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN,1880
2,1688,Robert,Martin,r.martin@gmail.com,Saint Kitts and Nevis,Credit Card,NaN,1688
3,1753,Richard,Martin,r.martin@yahoo.com,Hungary,Bank Transfer,Esse sit qui in.,1753
4,1686,William,Taylor,w.taylor@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN,1686
...,...,...,...,...,...,...,...,...
152,3010,Patricia,Jones,p.jones@yahoo.com,Eritrea,Credit Card,NaN,3010
153,3004,Sarah,Brown,s.brown@hotmail.com,Reunion,Debit Card,NaN,3004
154,3090,Jessica,Johnson,j.johnson@hotmail.com,South Africa,Debit Card,NaN,3090
155,3047,John,Miller,j.miller@hotmail.com,Dominica,Bank Transfer,NaN,3047
156,1003,Jennifer,Davis,j.davis@yahoo.com,Slovenia,Credit Card,NaN,1003

In [73]:
df2.sample(500)                        #if sample(500) > size of data set -> it not okey they will not understand

ValueError: Cannot take a larger sample than population when 'replace=False'

In [74]:
# Q1. merge df1 and df2 with left join

In [75]:
df1.merge(df2,left_on = "booking_id" , right_on = "id" , how = "left")

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,1780.0,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN,1780.0
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,1535.0,Jennifer,Smith,j.smith@gmail.com,Saint Martin,Debit Card,NaN,1535.0
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,1514.0,James,Williams,j.williams@yahoo.com,Holy See (Vatican City State),PayPal,NaN,1514.0
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,1706.0,Lisa,Williams,l.williams@gmail.com,Bolivia,Bank Transfer,NaN,1706.0
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,1918.0,Sarah,Johnson,s.johnson@hotmail.com,United States,Credit Card,NaN,1918.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,1829.0,Linda,Miller,l.miller@yahoo.com,Chad,Credit Card,NaN,1829.0
119,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,1850.0,Sarah,Miller,s.miller@gmail.com,Kiribati,Credit Card,NaN,1850.0
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,1003.0,Jennifer,Davis,j.davis@yahoo.com,Slovenia,Credit Card,NaN,1003.0
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,1374.0,Kelly,Wright,k.wright@gmail.com,Antigua and Barbuda,Credit Card,NaN,1374.0
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,1780.0,Susan,Moore,s.moore@yahoo.com,Macedonia,Credit Card,NaN,1780.0

In [76]:
# Q1. merge df1 and df2 with random sample with 5 rows

some time is make a join or not also -> it all based on the sample selected

In [77]:
df1.sample(5).merge(df2.sample(5), left_on = "booking_id" , right_on = "id")

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True,1768,Jessica,Jones,j.jones@hotmail.com,Slovakia (Slovak Republic),Credit Card,NaN,1768

In [78]:
df1.sample(5).merge(df2.sample(5), left_on = "booking_id" , right_on = "id")

Empty DataFrame
Columns: [booking_id_x, hotel_name, city, check_in_date, nights, guests, room_type, price_per_night, booking_status, guest_rating, breakfast_included, booking_id_y, guest_first_name, guest_last_name, email, country_of_origin, payment_method, special_request, id]
Index: []

In [79]:
df1.sample(5).merge(df2.sample(5), left_on = "booking_id" , right_on = "id")

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False,1539,Patricia,Davis,p.davis@gmail.com,Saint Martin,Debit Card,NaN,1539

In [80]:
df1.sample(5).merge(df2.sample(5), left_on = "booking_id" , right_on = "id", how = "left")

,booking_id_x,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_y,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1712,Oceanfront,Sydney,20-11-2024,7,2,Standard,171,Confirmed,2.7,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1067,Grand Plaza,Paris,20-04-2025,10,2,Suite,370,Completed,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1973,Grand Plaza,Berlin,17-02-2025,4,2,Suite,385,Confirmed,2.7,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1682,Grand Plaza,Sydney,25-06-2024,4,2,Standard,176,Confirmed,4.5,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

concat           #same columns and data are merge and other left as it is

In [81]:
df1.merge(df2,left_on = "booking_id" , right_on = "id").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   booking_id_x        120 non-null    int64
 1   hotel_name          120 non-null    object
 2   city                120 non-null    object
 3   check_in_date       120 non-null    object
 4   nights              120 non-null    int64
 5   guests              120 non-null    int64
 6   room_type           120 non-null    object
 7   price_per_night     120 non-null    int64
 8   booking_status      120 non-null    object
 9   guest_rating        98 non-null     float64
 10  breakfast_included  120 non-null    bool
 11  booking_id_y        120 non-null    int64
 12  guest_first_name    120 non-null    object
 13  guest_last_name     120 non-null    object
 14  email               120 non-null    object
 15  country_of_origin   120 non-null    object
 16  payment_method      120 non-null    object
 17  special_request     13 non-null     object
 18  id                  120 non-null    int64
dtypes: bool(1), float64(1), int64(6), object(11)
memory usage: 17.1+ KB

In [82]:
df1.merge(df2,left_on = "booking_id" , right_on = "id").shape

(120, 19)

In [83]:
pd.concat([df1,df2]).info()

<class 'pandas.core.frame.DataFrame'>
Index: 280 entries, 0 to 156
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   booking_id          280 non-null    int64
 1   hotel_name          123 non-null    object
 2   city                123 non-null    object
 3   check_in_date       123 non-null    object
 4   nights              123 non-null    float64
 5   guests              123 non-null    float64
 6   room_type           123 non-null    object
 7   price_per_night     123 non-null    float64
 8   booking_status      123 non-null    object
 9   guest_rating        101 non-null    float64
 10  breakfast_included  123 non-null    object
 11  guest_first_name    157 non-null    object
 12  guest_last_name     157 non-null    object
 13  email               157 non-null    object
 14  country_of_origin   157 non-null    object
 15  payment_method      157 non-null    object
 16  special_request     18 non-null     object
 17  id                  157 non-null    float64
dtypes: float64(5), int64(1), object(12)
memory usage: 41.6+ KB

In [85]:
pd.concat([df1,df2]).shape            #make duplicate data (duble data)-> becuase some column present in df1 are not present in df2 vice-versa

(280, 18)

In [88]:
df1.sample(5).merge(df1.sample(5),on="booking_id")

Empty DataFrame
Columns: [booking_id, hotel_name_x, city_x, check_in_date_x, nights_x, guests_x, room_type_x, price_per_night_x, booking_status_x, guest_rating_x, breakfast_included_x, hotel_name_y, city_y, check_in_date_y, nights_y, guests_y, room_type_y, price_per_night_y, booking_status_y, guest_rating_y, breakfast_included_y]
Index: []

[0 rows x 21 columns]

In [87]:
df1.merge(df1,on="booking_id",how ="left")

,booking_id,hotel_name_x,city_x,check_in_date_x,nights_x,guests_x,room_type_x,price_per_night_x,booking_status_x,guest_rating_x,...,hotel_name_y,city_y,check_in_date_y,nights_y,guests_y,room_type_y,price_per_night_y,booking_status_y,guest_rating_y,breakfast_included_y
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,...,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
1,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,...,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,...,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True
3,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,...,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
4,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,...,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,...,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True
121,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,...,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True
122,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,...,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False
123,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,...,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
124,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,...,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

# join

In [90]:
df1.join(df2,on="booking_id")

ValueError: columns overlap but no suffix specified: Index(['booking_id'], dtype='object')

lsuffix and rsuffix are write becuase if some columns are same then they got confuse not handle like merge -> thats for attached suffix

In [91]:
df1.join(df2,on="booking_id",lsuffix ="_df1" ,rsuffix ="_df2")

,booking_id,booking_id_df1,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_df2,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1535,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1514,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1706,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1918,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,1850,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,1003,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,1374,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,1780,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
df1.join(df2,on="booking_id",lsuffix ="_df1" ,rsuffix ="_df2",how="left")

,booking_id,booking_id_df1,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_df2,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
0,1780,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1535,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1514,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1706,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1918,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,1850,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,1003,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,1374,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,1780,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df1.join(df2,on="booking_id",lsuffix ="_df1" ,rsuffix ="_df2",how="right")

,booking_id,booking_id_df1,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,booking_id_df2,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request,id
NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN,1522
NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN,1880
NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1688,Robert,Martin,r.martin@gmail.com,Saint Kitts and Nevis,Credit Card,NaN,1688
NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1753,Richard,Martin,r.martin@yahoo.com,Hungary,Bank Transfer,Esse sit qui in.,1753
NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1686,William,Taylor,w.taylor@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN,1686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3010,Patricia,Jones,p.jones@yahoo.com,Eritrea,Credit Card,NaN,3010
NaN,153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3004,Sarah,Brown,s.brown@hotmail.com,Reunion,Debit Card,NaN,3004
NaN,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3090,Jessica,Johnson,j.johnson@hotmail.com,South Africa,Debit Card,NaN,3090
NaN,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3047,John,Miller,j.miller@hotmail.com,Dominica,Bank Transfer,NaN,3047
NaN,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1003,Jennifer,Davis,j.davis@yahoo.com,Slovenia,Credit Card,NaN,1003

In [96]:
df1.join(df1,on="booking_id",lsuffix ="_df1" ,rsuffix ="_df2")

,booking_id,booking_id_df1,hotel_name_df1,city_df1,check_in_date_df1,nights_df1,guests_df1,room_type_df1,price_per_night_df1,booking_status_df1,...,hotel_name_df2,city_df2,check_in_date_df2,nights_df2,guests_df2,room_type_df2,price_per_night_df2,booking_status_df2,guest_rating_df2,breakfast_included_df2
0,1780,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1535,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1514,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1706,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1918,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,1850,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,1003,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,1374,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,1780,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# date range

In [104]:
# Q1.i want ot define 10 days date range from 1 oct

In [105]:
pd.date_range("2025-10-1",periods =10,freq = "D")        # yyyy-mm-dd

DatetimeIndex(['2025-10-01', '2025-10-02', '2025-10-03', '2025-10-04',
               '2025-10-05', '2025-10-06', '2025-10-07', '2025-10-08',
               '2025-10-09', '2025-10-10'],
              dtype='datetime64[ns]', freq='D')

In [115]:
# Q2.i want ot define 5 month date range from oct
pd.date_range("2025-10-1",periods = 5 ,freq = "ME")        # yyyy-mm-dd

DatetimeIndex(['2025-10-31', '2025-11-30', '2025-12-31', '2026-01-31',
               '2026-02-28'],
              dtype='datetime64[ns]', freq='ME')

In [114]:
# Q3.i want ot define 5 years date range from FEB
pd.date_range("2025-10-1",periods = 5 ,freq = "YE-FEB")        # yyyy-mm-dd

DatetimeIndex(['2026-02-28', '2027-02-28', '2028-02-29', '2029-02-28',
               '2030-02-28'],
              dtype='datetime64[ns]', freq='YE-FEB')