In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.date_range("2025-11-02",periods = 10,freq = "D")

DatetimeIndex(['2025-11-02', '2025-11-03', '2025-11-04', '2025-11-05',
               '2025-11-06', '2025-11-07', '2025-11-08', '2025-11-09',
               '2025-11-10', '2025-11-11'],
              dtype='datetime64[ns]', freq='D')

In [48]:
data1 = pd.DataFrame({
    "Date" : pd.date_range("2025-11-02",periods = 10,freq = "D"),
    "value" : list(range(10))
}).set_index('Date')

data2 = pd.DataFrame({
    "Date" : pd.date_range("2025-11-02",periods = 10,freq = "D"),
    "value" : list(range(1,11))
}).set_index('Date')

In [49]:
data1

            value
Date
2025-11-02      0
2025-11-03      1
2025-11-04      2
2025-11-05      3
2025-11-06      4
2025-11-07      5
2025-11-08      6
2025-11-09      7
2025-11-10      8
2025-11-11      9

In [50]:
data2

            value
Date
2025-11-02      1
2025-11-03      2
2025-11-04      3
2025-11-05      4
2025-11-06      5
2025-11-07      6
2025-11-08      7
2025-11-09      8
2025-11-10      9
2025-11-11     10

In [51]:
data1.merge(data2,on="Date")

            value_x  value_y
Date
2025-11-02        0        1
2025-11-03        1        2
2025-11-04        2        3
2025-11-05        3        4
2025-11-06        4        5
2025-11-07        5        6
2025-11-08        6        7
2025-11-09        7        8
2025-11-10        8        9
2025-11-11        9       10

In [52]:
data2.merge(data1,on="Date")

            value_x  value_y
Date
2025-11-02        1        0
2025-11-03        2        1
2025-11-04        3        2
2025-11-05        4        3
2025-11-06        5        4
2025-11-07        6        5
2025-11-08        7        6
2025-11-09        8        7
2025-11-10        9        8
2025-11-11       10        9

In [57]:
data1.merge(data2,on ="Date",how = "outer")

            value_x  value_y
Date
2025-11-02        0        1
2025-11-03        1        2
2025-11-04        2        3
2025-11-05        3        4
2025-11-06        4        5
2025-11-07        5        6
2025-11-08        6        7
2025-11-09        7        8
2025-11-10        8        9
2025-11-11        9       10

In [61]:
df_join = data1.join(data2,lsuffix = "__x",rsuffix = "__y")
df_join

            value__x  value__y
Date
2025-11-02         0         1
2025-11-03         1         2
2025-11-04         2         3
2025-11-05         3         4
2025-11-06         4         5
2025-11-07         5         6
2025-11-08         6         7
2025-11-09         7         8
2025-11-10         8         9
2025-11-11         9        10

In [51]:
data1.merge(data2,on="Date")

            value_x  value_y
Date
2025-11-02        0        1
2025-11-03        1        2
2025-11-04        2        3
2025-11-05        3        4
2025-11-06        4        5
2025-11-07        5        6
2025-11-08        6        7
2025-11-09        7        8
2025-11-10        8        9
2025-11-11        9       10

In [68]:
data1 = pd.DataFrame({
    "Date" : pd.date_range("2025-11-04",periods = 10,freq = "D"),
    "value1" : list(range(10))
}).set_index('Date')

data2 = pd.DataFrame({
    "Date" : pd.date_range("2025-11-02",periods = 10,freq = "D"),
    "value2" : list(range(1,11))
}).set_index('Date')

In [69]:
df_join1= data1.join(data2)
df_join1

            value1  value2
Date
2025-11-04       0     3.0
2025-11-05       1     4.0
2025-11-06       2     5.0
2025-11-07       3     6.0
2025-11-08       4     7.0
2025-11-09       5     8.0
2025-11-10       6     9.0
2025-11-11       7    10.0
2025-11-12       8     NaN
2025-11-13       9     NaN

In [71]:
df_join1= data1.join(data2,how ="outer")
df_join1

            value1  value2
Date
2025-11-02     NaN     1.0
2025-11-03     NaN     2.0
2025-11-04     0.0     3.0
2025-11-05     1.0     4.0
2025-11-06     2.0     5.0
2025-11-07     3.0     6.0
2025-11-08     4.0     7.0
2025-11-09     5.0     8.0
2025-11-10     6.0     9.0
2025-11-11     7.0    10.0
2025-11-12     8.0     NaN
2025-11-13     9.0     NaN

In [72]:
df_join1.fillna(-1)

            value1  value2
Date
2025-11-02    -1.0     1.0
2025-11-03    -1.0     2.0
2025-11-04     0.0     3.0
2025-11-05     1.0     4.0
2025-11-06     2.0     5.0
2025-11-07     3.0     6.0
2025-11-08     4.0     7.0
2025-11-09     5.0     8.0
2025-11-10     6.0     9.0
2025-11-11     7.0    10.0
2025-11-12     8.0    -1.0
2025-11-13     9.0    -1.0

In [73]:
df_join1

            value1  value2
Date
2025-11-02     NaN     1.0
2025-11-03     NaN     2.0
2025-11-04     0.0     3.0
2025-11-05     1.0     4.0
2025-11-06     2.0     5.0
2025-11-07     3.0     6.0
2025-11-08     4.0     7.0
2025-11-09     5.0     8.0
2025-11-10     6.0     9.0
2025-11-11     7.0    10.0
2025-11-12     8.0     NaN
2025-11-13     9.0     NaN

In [74]:
df_join1.ffill()

            value1  value2
Date
2025-11-02     NaN     1.0
2025-11-03     NaN     2.0
2025-11-04     0.0     3.0
2025-11-05     1.0     4.0
2025-11-06     2.0     5.0
2025-11-07     3.0     6.0
2025-11-08     4.0     7.0
2025-11-09     5.0     8.0
2025-11-10     6.0     9.0
2025-11-11     7.0    10.0
2025-11-12     8.0    10.0
2025-11-13     9.0    10.0

In [75]:
df_join1.bfill()

            value1  value2
Date
2025-11-02     0.0     1.0
2025-11-03     0.0     2.0
2025-11-04     0.0     3.0
2025-11-05     1.0     4.0
2025-11-06     2.0     5.0
2025-11-07     3.0     6.0
2025-11-08     4.0     7.0
2025-11-09     5.0     8.0
2025-11-10     6.0     9.0
2025-11-11     7.0    10.0
2025-11-12     8.0     NaN
2025-11-13     9.0     NaN

In [76]:
df_join1.ffill().bfill()

            value1  value2
Date
2025-11-02     0.0     1.0
2025-11-03     0.0     2.0
2025-11-04     0.0     3.0
2025-11-05     1.0     4.0
2025-11-06     2.0     5.0
2025-11-07     3.0     6.0
2025-11-08     4.0     7.0
2025-11-09     5.0     8.0
2025-11-10     6.0     9.0
2025-11-11     7.0    10.0
2025-11-12     8.0    10.0
2025-11-13     9.0    10.0

In [78]:
df1 = pd.read_csv("Python1.csv")
df2 = pd.read_csv("Python2.csv")

In [79]:
df1["city"]

0      New York
1         Paris
2      New York
3        Sydney
4        London
         ...
118      London
119       Paris
120      Berlin
121       Paris
122    New York
Name: city, Length: 123, dtype: object

In [83]:
# Q1. all records of new york city
df1[df1["city"]=="New York"]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [89]:
# Q1. all records of new york city
df1[df1["city"].str.lower() =="new york"]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False
8,1675,Mountain Peak,New York,12-02-2025,2,3,Suite,422,Completed,3.5,True
9,1607,Mountain Peak,New York,25-08-2024,9,2,Deluxe,269,Cancelled,3.4,False
13,1001,City Inn,New York,02-01-2024,1,1,Suite,414,Completed,3.4,False
17,1747,City Inn,New York,23-06-2025,7,2,Standard,102,Confirmed,3.4,False
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False
31,1219,Mountain Peak,New York,09-04-2025,5,1,Deluxe,274,Completed,2.9,True
37,1168,Mountain Peak,New York,20-01-2024,8,3,Suite,414,Confirmed,3.8,True
43,1954,Oceanfront,New York,20-11-2024,4,3,Standard,134,Confirmed,NaN,False
53,1769,Mountain Peak,New York,20-03-2024,6,3,Standard,157,Confirmed,3.8,False
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False
59,1750,City Inn,New York,28-01-2025,9,2,Deluxe,259,Completed,3.4,False
61,1890,Budget Stay,New York,12-03-2025,2,3,Suite,391,Completed,NaN,False
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True
74,1978,Mountain Peak,New York,09-03-2024,10,1,Suite,436,Completed,NaN,False
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False
80,1393,Mountain Peak,New York,13-10-2024,6,1,Deluxe,298,Completed,3.7,True
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True
101,1654,Oceanfront,New York,12-02-2024,4,4,Deluxe,230,Completed,NaN,False
102,1741,Mountain Peak,New York,25-08-2024,9,4,Deluxe,267,Confirmed,3.2,True
103,1941,City Inn,New York,27-05-2024,5,1,Standard,156,Completed,3.6,True
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True
110,1707,Budget Stay,New York,01-08-2024,9,4,Deluxe,296,Completed,3.2,True
111,1825,Lakeview Resort,New York,02-09-2024,7,1,Standard,150,Confirmed,3.8,True
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False

In [90]:
# Q2.user define function on price per nigth
# group the price per night
# <200 affordable
# 200 -400 mid
# >400 expensive

In [91]:
def price_per_night(x):
    if x <200:
        print("affordable")
    elif x <400:
        print("mid")
    else:
        print("expensiv")

In [101]:
def price_per_night(x):
    if (x <200):
        print("affordable")
    elif (x <400):
        print("mid")
    else:
        print("expensiv")

In [102]:
for x in df1["price_per_night"]:
    price_per_night(x)

mid
mid
affordable
expensiv
affordable
mid
mid
affordable
expensiv
mid
affordable
mid
affordable
expensiv
affordable
mid
affordable
affordable
mid
affordable
affordable
affordable
affordable
affordable
affordable
affordable
affordable
affordable
mid
mid
expensiv
mid
mid
mid
expensiv
mid
expensiv
expensiv
expensiv
mid
affordable
affordable
mid
affordable
mid
mid
expensiv
expensiv
affordable
mid
affordable
mid
expensiv
affordable
affordable
mid
mid
mid
expensiv
mid
mid
mid
affordable
expensiv
affordable
mid
affordable
mid
expensiv
mid
affordable
expensiv
mid
mid
expensiv
affordable
mid
affordable
affordable
mid
mid
affordable
mid
mid
mid
mid
mid
affordable
expensiv
mid
mid
affordable
mid
mid
affordable
mid
mid
mid
expensiv
mid
affordable
mid
mid
affordable
affordable
mid
affordable
affordable
affordable
mid
mid
affordable
affordable
mid
mid
mid
mid
mid
mid
mid
mid
mid
mid

In [104]:
 df1["price_per_night"].apply(price_per_night)

mid
mid
affordable
expensiv
affordable
mid
mid
affordable
expensiv
mid
affordable
mid
affordable
expensiv
affordable
mid
affordable
affordable
mid
affordable
affordable
affordable
affordable
affordable
affordable
affordable
affordable
affordable
mid
mid
expensiv
mid
mid
mid
expensiv
mid
expensiv
expensiv
expensiv
mid
affordable
affordable
mid
affordable
mid
mid
expensiv
expensiv
affordable
mid
affordable
mid
expensiv
affordable
affordable
mid
mid
mid
expensiv
mid
mid
mid
affordable
expensiv
affordable
mid
affordable
mid
expensiv
mid
affordable
expensiv
mid
mid
expensiv
affordable
mid
affordable
affordable
mid
mid
affordable
mid
mid
mid
mid
mid
affordable
expensiv
mid
mid
affordable
mid
mid
affordable
mid
mid
mid
expensiv
mid
affordable
mid
mid
affordable
affordable
mid
affordable
affordable
affordable
mid
mid
affordable
affordable
mid
mid
mid
mid
mid
mid
mid
mid
mid
mid

0      None
1      None
2      None
3      None
4      None
       ...
118    None
119    None
120    None
121    None
122    None
Name: price_per_night, Length: 123, dtype: object

In [106]:
df1["classify"] = np.where(df1["price_per_night"]<200,"affordable",np.where(df1["price_per_night"]<400,"mid","expensiv"))
df1

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,classify,class_ification
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,mid,None
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,affordable,None
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,expensiv,None
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,affordable,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,mid,None
119,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,mid,None
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,mid,None
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,mid,None
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None

In [97]:
df1

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,classify
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,mid
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,affordable
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,expensiv
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,affordable
...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,mid
119,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,mid
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,mid
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,mid
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid

In [107]:
# Q4.guest_rating
# >4 green
# 3-4 amber
# <3 red

In [110]:
df1["color"] = np.where(df1["guest_rating"]>4,"green",np.where((df1["guest_rating"]==3) & (df1["guest_rating"]==4),"amber","red"))

In [111]:
df1

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,classify,class_ification,color
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None,green
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,mid,None,red
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,affordable,None,green
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,True,expensiv,None,red
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,affordable,None,green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,True,mid,None,red
119,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,True,mid,None,red
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,True,mid,None,red
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,False,mid,None,red
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None,green

In [112]:
# Q5. breakfast included and room_type is suite

In [122]:
np.where((df1["breakfast_included"] == True) & (df1["room_type"].str.lower() == "suite"),"yes","no")

array(['no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no'], dtype='<U3')

In [124]:
def func1(breakfast,room):
    if(breakfast == True and room == "Suite"):
        print("yes")
    else:
        print("no")

In [125]:
df1.apply(lambda r : func1(r["breakfast_included"],r["room_type"]),axis=1)

no
yes
no
yes
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
yes
yes
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
yes
no
no
no
no
yes
yes
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no

0      None
1      None
2      None
3      None
4      None
       ...
118    None
119    None
120    None
121    None
122    None
Length: 123, dtype: object

In [127]:
df1.guest_rating.mean()

np.float64(3.958415841584158)

In [128]:
df1["guest_rating"].mean()

np.float64(3.958415841584158)

In [129]:
df1.sum()

booking_id                                                       194400
hotel_name            OceanfrontGrand PlazaBudget StayBudget StayBud...
city                  New YorkParisNew YorkSydneyLondonSydneyBerlinS...
check_in_date         24-03-202403-06-202518-04-202401-08-202418-05-...
nights                                                              695
guests                                                              296
room_type             DeluxeSuiteStandardSuiteStandardSuiteDeluxeSta...
price_per_night                                                   32379
booking_status        CompletedCompletedCompletedCompletedCompletedC...
guest_rating                                                      399.8
breakfast_included                                                   54
classify              midmidaffordableexpensivaffordablemidmidafford...
class_ification                                                       0
color                 greenredgreenredgreenredgreenredredredgreengre...
dtype: object

In [130]:
df1[df1["guest_rating"]>4]

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,classify,class_ification,color
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None,green
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,False,affordable,None,green
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,False,affordable,None,green
6,1513,City Inn,Berlin,28-07-2024,9,3,Deluxe,222,Completed,4.1,False,mid,None,green
10,1242,Lakeview Resort,London,09-01-2025,9,2,Standard,171,Confirmed,4.6,False,affordable,None,green
11,1260,Oceanfront,Paris,21-06-2025,9,3,Deluxe,259,Completed,4.4,True,mid,None,green
15,1391,Oceanfront,Tokyo,26-01-2024,4,2,Suite,384,Cancelled,4.7,True,mid,None,green
20,1723,Lakeview Resort,Paris,19-02-2024,10,3,Standard,183,Cancelled,4.7,False,affordable,None,green
21,1578,Oceanfront,Berlin,27-02-2025,1,4,Standard,104,Confirmed,4.7,False,affordable,None,green
23,1167,City Inn,Sydney,03-04-2025,1,1,Standard,159,Confirmed,4.9,False,affordable,None,green
24,1345,Lakeview Resort,Tokyo,20-11-2024,6,2,Standard,101,Confirmed,4.2,False,affordable,None,green
27,1686,Budget Stay,Berlin,02-10-2024,7,4,Standard,143,Confirmed,4.7,True,affordable,None,green
28,1784,Mountain Peak,New York,06-07-2024,9,3,Suite,392,Confirmed,4.6,False,mid,None,green
36,1486,Budget Stay,London,01-08-2024,1,1,Suite,417,Cancelled,4.2,True,expensiv,None,green
38,1808,Grand Plaza,Sydney,25-01-2024,9,2,Suite,427,Completed,4.5,False,expensiv,None,green
39,1539,Lakeview Resort,London,04-04-2025,1,1,Suite,373,Cancelled,4.7,False,mid,None,green
48,1399,Grand Plaza,Berlin,22-09-2024,7,1,Standard,128,Cancelled,4.8,True,affordable,None,green
49,1515,Budget Stay,London,27-05-2024,3,4,Deluxe,226,Completed,4.8,False,mid,None,green
50,1970,Lakeview Resort,Berlin,19-12-2024,3,2,Standard,156,Confirmed,4.4,False,affordable,None,green
52,1033,Grand Plaza,London,21-05-2024,8,4,Suite,436,Completed,4.2,True,expensiv,None,green
54,1662,City Inn,New York,25-06-2025,5,4,Standard,102,Cancelled,4.2,False,affordable,None,green
55,1581,Mountain Peak,Sydney,03-03-2025,6,4,Deluxe,211,Cancelled,4.2,True,mid,None,green
57,1773,Oceanfront,Tokyo,09-11-2024,9,2,Suite,397,Cancelled,4.8,False,mid,None,green
62,1726,Oceanfront,New York,14-10-2024,9,4,Standard,147,Confirmed,4.8,False,affordable,None,green
66,1040,Oceanfront,New York,19-11-2024,3,1,Standard,119,Confirmed,4.8,True,affordable,None,green
68,1370,City Inn,Berlin,14-01-2025,3,3,Suite,431,Completed,4.6,False,expensiv,None,green
69,1099,Lakeview Resort,Tokyo,18-10-2024,5,1,Suite,373,Cancelled,4.6,False,mid,None,green
71,1927,City Inn,London,21-06-2025,9,3,Suite,406,Completed,4.7,True,expensiv,None,green
72,1238,City Inn,London,20-11-2024,7,2,Deluxe,261,Confirmed,4.2,False,mid,None,green
76,1388,Grand Plaza,Paris,28-01-2024,3,4,Deluxe,259,Completed,4.2,False,mid,None,green
77,1682,Grand Plaza,Sydney,25-06-2024,4,2,Standard,176,Confirmed,4.5,True,affordable,None,green
78,1785,Budget Stay,New York,15-02-2024,4,1,Standard,186,Completed,4.2,False,affordable,None,green
83,1148,City Inn,Berlin,23-06-2024,7,3,Suite,365,Confirmed,4.2,False,mid,None,green
85,1735,Budget Stay,London,04-02-2024,3,1,Deluxe,243,Confirmed,4.3,False,mid,None,green
87,1019,City Inn,London,19-05-2025,1,4,Standard,143,Confirmed,4.7,False,affordable,None,green
88,1230,Lakeview Resort,New York,21-10-2024,9,4,Suite,406,Completed,4.3,True,expensiv,None,green
91,1181,Lakeview Resort,Tokyo,09-01-2024,1,2,Standard,163,Confirmed,4.6,False,affordable,None,green
92,1759,Budget Stay,Paris,18-10-2024,6,1,Deluxe,203,Confirmed,4.4,True,mid,None,green
93,1679,City Inn,New York,23-02-2025,7,3,Deluxe,240,Confirmed,4.1,True,mid,None,green
96,1768,City Inn,London,11-07-2024,3,3,Suite,364,Completed,4.9,True,mid,None,green
97,1366,Budget Stay,Paris,26-01-2024,4,4,Deluxe,268,Cancelled,4.2,False,mid,None,green
98,1877,Budget Stay,New York,19-03-2024,3,1,Suite,416,Completed,4.4,True,expensiv,None,green
99,1398,Mountain Peak,New York,20-06-2024,10,2,Deluxe,207,Completed,4.3,True,mid,None,green
100,1218,Mountain Peak,Berlin,18-05-2024,4,1,Standard,172,Confirmed,4.6,False,affordable,None,green
104,1840,Budget Stay,New York,12-08-2024,6,1,Standard,144,Completed,4.2,True,affordable,None,green
105,1255,Mountain Peak,Paris,24-03-2024,3,1,Suite,394,Completed,4.4,False,mid,None,green
108,1910,Grand Plaza,Paris,21-06-2024,9,2,Standard,136,Cancelled,4.8,True,affordable,None,green
112,1758,City Inn,Paris,02-05-2025,7,4,Standard,136,Cancelled,4.8,True,affordable,None,green
115,1264,Grand Plaza,Paris,20-11-2024,3,1,Suite,366,Completed,4.5,False,mid,None,green
116,1575,Budget Stay,Sydney,28-09-2024,10,1,Deluxe,282,Completed,4.4,False,mid,None,green
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None,green

In [132]:
df1[df1["guest_rating"]>4]["nights"].sum()

np.int64(273)

In [135]:
df1[df1["guest_rating"]>4][["nights","price_per_night"]].median()

nights               5.0
price_per_night    211.0
dtype: float64

In [137]:
df1[df1["guest_rating"]>4][["nights","price_per_night"]].agg(["sum","median"])

        nights  price_per_night
sum      273.0          12702.0
median     5.0            211.0

In [138]:
df1[df1["guest_rating"]>4][["nights","price_per_night"]].agg({"nights":"sum","price_per_night":"median"})

nights             273.0
price_per_night    211.0
dtype: float64

In [139]:
# table - df1

# select city,sum(price_oer_nights) , avg(guest_rating)
# from df1
# group by city

In [144]:
df1.groupby("city").agg({"price_per_night" : "sum", "guest_rating" : "mean" })

          price_per_night  guest_rating
city
Berlin               4153      3.906667
London               6017      4.083333
New York             7613      3.938462
Paris                6287      3.994118
Sydney               3860      3.925000
Tokyo                4449      3.869231

In [145]:
df1.groupby("city")["guest_rating"].mean()

city
Berlin      3.906667
London      4.083333
New York    3.938462
Paris       3.994118
Sydney      3.925000
Tokyo       3.869231
Name: guest_rating, dtype: float64

In [146]:
df1.groupby("city").agg({"guest_rating" : "mean"})

          guest_rating
city
Berlin        3.906667
London        4.083333
New York      3.938462
Paris         3.994118
Sydney        3.925000
Tokyo         3.869231

In [147]:
df1.groupby("city")["guest_rating"].agg("mean")

city
Berlin      3.906667
London      4.083333
New York    3.938462
Paris       3.994118
Sydney      3.925000
Tokyo       3.869231
Name: guest_rating, dtype: float64

In [148]:
df1.groupby(["city","room_type"])["guest_rating"].agg("mean")

city      room_type
Berlin    Deluxe       3.466667
          Standard     4.077778
          Suite        3.833333
London    Deluxe       3.966667
          Standard     4.500000
          Suite        4.022222
New York  Deluxe       3.740000
          Standard     4.100000
          Suite        4.000000
Paris     Deluxe       4.120000
          Standard     4.525000
          Suite        3.650000
Sydney    Deluxe       4.000000
          Standard     3.925000
          Suite        3.880000
Tokyo     Deluxe       4.000000
          Standard     3.757143
          Suite        4.000000
Name: guest_rating, dtype: float64

In [149]:
df1.groupby(["city","room_type"])[["guest_rating"]].agg("mean")

                    guest_rating
city     room_type
Berlin   Deluxe         3.466667
         Standard       4.077778
         Suite          3.833333
London   Deluxe         3.966667
         Standard       4.500000
         Suite          4.022222
New York Deluxe         3.740000
         Standard       4.100000
         Suite          4.000000
Paris    Deluxe         4.120000
         Standard       4.525000
         Suite          3.650000
Sydney   Deluxe         4.000000
         Standard       3.925000
         Suite          3.880000
Tokyo    Deluxe         4.000000
         Standard       3.757143
         Suite          4.000000

In [150]:
df1.head(2)

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,breakfast_included,classify,class_ification,color
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,False,mid,None,green
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,True,mid,None,red

In [151]:
df2.head(2)

,booking_id,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN
1,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN

involving both joins and groups
find the names of city whcih has hightes and lowest price per night where payment method is credit card

In [154]:
df1.join(df2,rsuffix = "_df2")

,booking_id,hotel_name,city,check_in_date,nights,guests,room_type,price_per_night,booking_status,guest_rating,...,classify,class_ification,color,booking_id_df2,guest_first_name,guest_last_name,email,country_of_origin,payment_method,special_request
0,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,...,mid,None,green,1522,Matthew,Young,m.young@yahoo.com,Togo,PayPal,NaN
1,1535,Grand Plaza,Paris,03-06-2025,8,3,Suite,374,Completed,3.6,...,mid,None,red,1880,Adam,Martinez,a.martinez@hotmail.com,Palau,Credit Card,NaN
2,1514,Budget Stay,New York,18-04-2024,6,3,Standard,163,Completed,4.2,...,affordable,None,green,1688,Robert,Martin,r.martin@gmail.com,Saint Kitts and Nevis,Credit Card,NaN
3,1706,Budget Stay,Sydney,01-08-2024,9,4,Suite,406,Completed,NaN,...,expensiv,None,red,1753,Richard,Martin,r.martin@yahoo.com,Hungary,Bank Transfer,Esse sit qui in.
4,1918,Budget Stay,London,18-05-2025,1,4,Standard,120,Completed,4.2,...,affordable,None,green,1686,William,Taylor,w.taylor@gmail.com,Slovakia (Slovak Republic),Credit Card,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1829,Grand Plaza,London,09-12-2024,3,2,Deluxe,229,Confirmed,NaN,...,mid,None,red,1741,Linda,Rodriguez,l.rodriguez@gmail.com,Jamaica,Credit Card,Amet ut dolor ut.
119,1850,Lakeview Resort,Paris,07-12-2024,10,3,Suite,373,Cancelled,3.7,...,mid,None,red,1829,Linda,Miller,l.miller@yahoo.com,Chad,Credit Card,NaN
120,1003,City Inn,Berlin,18-05-2024,10,3,Deluxe,292,Cancelled,3.4,...,mid,None,red,1758,David,Rodriguez,d.rodriguez@hotmail.com,Tanzania,Debit Card,NaN
121,1374,Budget Stay,Paris,18-10-2024,6,2,Deluxe,298,Completed,NaN,...,mid,None,red,1735,Robert,Johnson,r.johnson@gmail.com,South Georgia and the South Sandwich Islands,Credit Card,NaN
122,1780,Oceanfront,New York,24-03-2024,3,3,Deluxe,211,Completed,4.6,...,mid,None,green,1910,John,Davis,j.davis@hotmail.com,Mauritania,PayPal,NaN

In [166]:
df1[df1.join(df2,rsuffix = "_df2").payment_method == "Credit Card"].groupby("city").agg({"price_per_night" : "mean"}).sort_values(by ="price_per_night",ascending = False)

          price_per_night
city
Paris          302.800000
London         299.000000
Tokyo          297.111111
New York       232.250000
Sydney         226.000000
Berlin         172.875000

In [174]:
df6 = df1.join(df2,rsuffix = "_df2").groupby("city").agg({"price_per_night" : "mean"}).sort_values(by ="price_per_night",ascending = False)
df6

          price_per_night
city
London         300.850000
Paris          285.772727
Sydney         275.714286
New York       253.766667
Tokyo          247.166667
Berlin         218.578947

In [175]:
df6.idxmax(),df6.max()

(price_per_night    London
 dtype: object,
 price_per_night    300.85
 dtype: float64)

In [176]:
df6.idxmin(),df6.min()

(price_per_night    Berlin
 dtype: object,
 price_per_night    218.578947
 dtype: float64)