In [1]:
import pandas as pd 
import numpy as np

In [2]:
staff_df = pd.read_csv("Data/staff.csv")
schedule_df = pd.read_csv("Data/staff_schedule.csv")
patiant_df = pd.read_csv("Data/patients.csv")

In [3]:
staff_df.head()

       staff_id       staff_name    role    service
0  STF-5ca26577     Allison Hill  doctor  emergency
1  STF-02ae59ca      Noah Rhodes  doctor  emergency
2  STF-d8006e7c  Angie Henderson  doctor  emergency
3  STF-212d8b31    Daniel Wagner  doctor  emergency
4  STF-107a58e4  Cristian Santos  doctor  emergency

In [5]:
schedule_df.head()

   week      staff_id    staff_name    role    service  present
0     1  STF-b77cdc60  Allison Hill  doctor  emergency        1
1     2  STF-b77cdc60  Allison Hill  doctor  emergency        1
2     3  STF-b77cdc60  Allison Hill  doctor  emergency        0
3     4  STF-b77cdc60  Allison Hill  doctor  emergency        1
4     5  STF-b77cdc60  Allison Hill  doctor  emergency        1

In [20]:
merger_df = staff_df.merge(schedule_df[["staff_name","week","present"]])
merger_df

,staff_id,staff_name,role,service,week,present
0,STF-5ca26577,Allison Hill,doctor,emergency,1,1
1,STF-5ca26577,Allison Hill,doctor,emergency,2,1
2,STF-5ca26577,Allison Hill,doctor,emergency,3,0
3,STF-5ca26577,Allison Hill,doctor,emergency,4,1
4,STF-5ca26577,Allison Hill,doctor,emergency,5,1
...,...,...,...,...,...,...
5715,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,48,0
5716,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,49,1
5717,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,50,1
5718,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,51,0
5719,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,52,1

merger_df = staff_df.merge(
    schedule_df[["staff_id", "week", "present"]],
    on="staff_id",          # common column in both
    how="inner"             # type of join (can change to 'left', 'right', or 'outer')
)

In [21]:
merger_df = staff_df.merge(schedule_df[["staff_name","week","present"]],suffixes =["_details","_locations"] )
merger_df

,staff_id,staff_name,role,service,week,present
0,STF-5ca26577,Allison Hill,doctor,emergency,1,1
1,STF-5ca26577,Allison Hill,doctor,emergency,2,1
2,STF-5ca26577,Allison Hill,doctor,emergency,3,0
3,STF-5ca26577,Allison Hill,doctor,emergency,4,1
4,STF-5ca26577,Allison Hill,doctor,emergency,5,1
...,...,...,...,...,...,...
5715,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,48,0
5716,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,49,1
5717,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,50,1
5718,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,51,0
5719,STF-021fdf9f,Sharon Cochran,nursing_assistant,ICU,52,1

In [23]:
doctor_df = staff_df.query("role == 'doctor'")[["service"]]
doctor_df["is_a_doctor"] = True

In [24]:
doctor_df

             service  is_a_doctor
0          emergency         True
1          emergency         True
2          emergency         True
3          emergency         True
4          emergency         True
29           surgery         True
30           surgery         True
31           surgery         True
32           surgery         True
51  general_medicine         True
52  general_medicine         True
53  general_medicine         True
78               ICU         True
79               ICU         True
80               ICU         True
81               ICU         True
82               ICU         True
83               ICU         True

In [33]:
doctor_df.shape

(18, 2)

In [25]:
type(staff_df.query("role == 'doctor'")[["service"]])

pandas.core.frame.DataFrame

In [26]:
type(staff_df.query("role == 'doctor'")["service"])

pandas.core.series.Series

In [44]:
staff_df.merge(doctor_df).head()

       staff_id    staff_name    role    service  is_a_doctor
0  STF-5ca26577  Allison Hill  doctor  emergency         True
1  STF-5ca26577  Allison Hill  doctor  emergency         True
2  STF-5ca26577  Allison Hill  doctor  emergency         True
3  STF-5ca26577  Allison Hill  doctor  emergency         True
4  STF-5ca26577  Allison Hill  doctor  emergency         True

In [45]:
staff_df.merge(doctor_df).fillna({"is_a_doctor" : False}).head()

       staff_id    staff_name    role    service  is_a_doctor
0  STF-5ca26577  Allison Hill  doctor  emergency         True
1  STF-5ca26577  Allison Hill  doctor  emergency         True
2  STF-5ca26577  Allison Hill  doctor  emergency         True
3  STF-5ca26577  Allison Hill  doctor  emergency         True
4  STF-5ca26577  Allison Hill  doctor  emergency         True

In [56]:
staff_df.merge(doctor_df).drop_duplicates().shape

(110, 5)

In [32]:
staff_df.merge(doctor_df).shape

(506, 5)

In [30]:
staff_df.shape

(110, 4)

In [31]:
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   staff_id    110 non-null    object
 1   staff_name  110 non-null    object
 2   role        110 non-null    object
 3   service     110 non-null    object
dtypes: object(4)
memory usage: 3.6+ KB

In [39]:
staff_df.merge(doctor_df).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   staff_id     506 non-null    object
 1   staff_name   506 non-null    object
 2   role         506 non-null    object
 3   service      506 non-null    object
 4   is_a_doctor  506 non-null    bool
dtypes: bool(1), object(4)
memory usage: 16.4+ KB

In [46]:
doctor_df

             service  is_a_doctor
0          emergency         True
1          emergency         True
2          emergency         True
3          emergency         True
4          emergency         True
29           surgery         True
30           surgery         True
31           surgery         True
32           surgery         True
51  general_medicine         True
52  general_medicine         True
53  general_medicine         True
78               ICU         True
79               ICU         True
80               ICU         True
81               ICU         True
82               ICU         True
83               ICU         True

In [47]:
nursing_assistant_df = staff_df.query("role == 'nursing_assistant'")[["service"]]

In [52]:
pd.concat([nursing_assistant_df, doctor_df]).reset_index()

    index           service is_a_doctor
0      24         emergency         NaN
1      25         emergency         NaN
2      26         emergency         NaN
3      27         emergency         NaN
4      28         emergency         NaN
5      46           surgery         NaN
6      47           surgery         NaN
7      48           surgery         NaN
8      49           surgery         NaN
9      50           surgery         NaN
10     73  general_medicine         NaN
11     74  general_medicine         NaN
12     75  general_medicine         NaN
13     76  general_medicine         NaN
14     77  general_medicine         NaN
15    102               ICU         NaN
16    103               ICU         NaN
17    104               ICU         NaN
18    105               ICU         NaN
19    106               ICU         NaN
20    107               ICU         NaN
21    108               ICU         NaN
22    109               ICU         NaN
23      0         emergency        True
24      1         emergency        True
25      2         emergency        True
26      3         emergency        True
27      4         emergency        True
28     29           surgery        True
29     30           surgery        True
30     31           surgery        True
31     32           surgery        True
32     51  general_medicine        True
33     52  general_medicine        True
34     53  general_medicine        True
35     78               ICU        True
36     79               ICU        True
37     80               ICU        True
38     81               ICU        True
39     82               ICU        True
40     83               ICU        True

In [51]:
pd.concat([nursing_assistant_df, doctor_df]).reset_index().drop("is_a_doctor",axis =1)

    index           service
0      24         emergency
1      25         emergency
2      26         emergency
3      27         emergency
4      28         emergency
5      46           surgery
6      47           surgery
7      48           surgery
8      49           surgery
9      50           surgery
10     73  general_medicine
11     74  general_medicine
12     75  general_medicine
13     76  general_medicine
14     77  general_medicine
15    102               ICU
16    103               ICU
17    104               ICU
18    105               ICU
19    106               ICU
20    107               ICU
21    108               ICU
22    109               ICU
23      0         emergency
24      1         emergency
25      2         emergency
26      3         emergency
27      4         emergency
28     29           surgery
29     30           surgery
30     31           surgery
31     32           surgery
32     51  general_medicine
33     52  general_medicine
34     53  general_medicine
35     78               ICU
36     79               ICU
37     80               ICU
38     81               ICU
39     82               ICU
40     83               ICU