In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
staff_df = pd.read_csv("Data/staff.csv")
staff_df.head()

       staff_id       staff_name    role    service
0  STF-5ca26577     Allison Hill  doctor  emergency
1  STF-02ae59ca      Noah Rhodes  doctor  emergency
2  STF-d8006e7c  Angie Henderson  doctor  emergency
3  STF-212d8b31    Daniel Wagner  doctor  emergency
4  STF-107a58e4  Cristian Santos  doctor  emergency

In [5]:
staff_df["service"].unique()

array(['emergency', 'surgery', 'general_medicine', 'ICU'], dtype=object)

In [6]:
staff_df["service"] == "surgery"

0      False
1      False
2      False
3      False
4      False
       ...
105    False
106    False
107    False
108    False
109    False
Name: service, Length: 110, dtype: bool

In [7]:
staff_df[staff_df["service"] == "surgery"]

        staff_id         staff_name               role  service
29  STF-15c07995  Anthony Rodriguez             doctor  surgery
30  STF-0aaed714  Rebecca Henderson             doctor  surgery
31  STF-30d44186      James Ferrell             doctor  surgery
32  STF-46e008d1    Tricia Valencia             doctor  surgery
33  STF-f2a7bd6f   Nathan Maldonado              nurse  surgery
34  STF-d7c28217     Debra Davidson              nurse  surgery
35  STF-2bfe24c1     Jeffrey Chavez              nurse  surgery
36  STF-3abc4202       Sherri Baker              nurse  surgery
37  STF-bc33b33b   Cassandra Gaines              nurse  surgery
38  STF-2c155ebf   Elizabeth Fowler              nurse  surgery
39  STF-3007d318    Brittany Farmer              nurse  surgery
40  STF-13f243f8       Paula Moreno              nurse  surgery
41  STF-7a5180f0         Fred Smith              nurse  surgery
42  STF-15269c02      Sherry Decker              nurse  surgery
43  STF-36b3e876   Anthony Humphrey              nurse  surgery
44  STF-177e5df8    Angelica Tucker              nurse  surgery
45  STF-3d6f6916      Philip Cannon              nurse  surgery
46  STF-00fbd582        John Pierce  nursing_assistant  surgery
47  STF-42844552    Shane Henderson  nursing_assistant  surgery
48  STF-1ded4330       Joshua Blair  nursing_assistant  surgery
49  STF-5d51a8ea        Eric Carney  nursing_assistant  surgery
50  STF-b19d1900     Jessica Holmes  nursing_assistant  surgery

In [12]:
staff_df["service"][staff_df["service"] == "surgery"]

29    surgery
30    surgery
31    surgery
32    surgery
33    surgery
34    surgery
35    surgery
36    surgery
37    surgery
38    surgery
39    surgery
40    surgery
41    surgery
42    surgery
43    surgery
44    surgery
45    surgery
46    surgery
47    surgery
48    surgery
49    surgery
50    surgery
Name: service, dtype: object

In [13]:
staff_df["service"][staff_df["service"] == "surgery"].count()

22

In [19]:
(staff_df["service"] == "ICU") & (staff_df["role"] == "doctor")

0      False
1      False
2      False
3      False
4      False
       ...
105    False
106    False
107    False
108    False
109    False
Length: 110, dtype: bool

In [21]:
(staff_df["service"] == "ICU") | (staff_df["role"] == "doctor")

0      True
1      True
2      True
3      True
4      True
       ...
105    True
106    True
107    True
108    True
109    True
Length: 110, dtype: bool

In [20]:
(staff_df["service"] == "ICU") and (staff_df["role"] == "doctor")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
np.logical_and(staff_df["service"] == "ICU" , staff_df["role"] == "doctor")

0      False
1      False
2      False
3      False
4      False
       ...
105    False
106    False
107    False
108    False
109    False
Length: 110, dtype: bool

In [22]:
staff_df[np.logical_and(staff_df["service"] == "ICU" , staff_df["role"] == "doctor")]

        staff_id     staff_name    role service
78  STF-00b6381d  Steve Sanchez  doctor     ICU
79  STF-cb0c3c50    Lisa Barnes  doctor     ICU
80  STF-dd7b8861  Kelly Donovan  doctor     ICU
81  STF-0b0dfb38     Mike Allen  doctor     ICU
82  STF-a1659ed6  Michael Evans  doctor     ICU
83  STF-ab59db32     Paul Jones  doctor     ICU

In [25]:
staff_df["role"]["service"][np.logical_and(staff_df["service"] == "ICU" , staff_df["role"] == "doctor")]

KeyError: 'service'

In [28]:
staff_df.loc[(staff_df["service"] == "ICU") & (staff_df["role"] == "doctor"), ["role", "service"]]

      role service
78  doctor     ICU
79  doctor     ICU
80  doctor     ICU
81  doctor     ICU
82  doctor     ICU
83  doctor     ICU

In [36]:
staff_df[(staff_df["service"].isin(["ICU","emergency","surgery"])) & ( staff_df["role"] == "doctor")]

        staff_id         staff_name    role    service
0   STF-5ca26577       Allison Hill  doctor  emergency
1   STF-02ae59ca        Noah Rhodes  doctor  emergency
2   STF-d8006e7c    Angie Henderson  doctor  emergency
3   STF-212d8b31      Daniel Wagner  doctor  emergency
4   STF-107a58e4    Cristian Santos  doctor  emergency
29  STF-15c07995  Anthony Rodriguez  doctor    surgery
30  STF-0aaed714  Rebecca Henderson  doctor    surgery
31  STF-30d44186      James Ferrell  doctor    surgery
32  STF-46e008d1    Tricia Valencia  doctor    surgery
78  STF-00b6381d      Steve Sanchez  doctor        ICU
79  STF-cb0c3c50        Lisa Barnes  doctor        ICU
80  STF-dd7b8861      Kelly Donovan  doctor        ICU
81  STF-0b0dfb38         Mike Allen  doctor        ICU
82  STF-a1659ed6      Michael Evans  doctor        ICU
83  STF-ab59db32         Paul Jones  doctor        ICU

In [40]:
staff_df.loc[(staff_df["service"].isin(["ICU","emergency","surgery"])) & ( staff_df["role"] == "doctor"),["role","service"]]

      role    service
0   doctor  emergency
1   doctor  emergency
2   doctor  emergency
3   doctor  emergency
4   doctor  emergency
29  doctor    surgery
30  doctor    surgery
31  doctor    surgery
32  doctor    surgery
78  doctor        ICU
79  doctor        ICU
80  doctor        ICU
81  doctor        ICU
82  doctor        ICU
83  doctor        ICU

In [41]:
staff_df[:10]            # select first 10 rows

       staff_id       staff_name    role    service
0  STF-5ca26577     Allison Hill  doctor  emergency
1  STF-02ae59ca      Noah Rhodes  doctor  emergency
2  STF-d8006e7c  Angie Henderson  doctor  emergency
3  STF-212d8b31    Daniel Wagner  doctor  emergency
4  STF-107a58e4  Cristian Santos  doctor  emergency
5  STF-ca932dea  Connie Lawrence   nurse  emergency
6  STF-39082289  Abigail Shaffer   nurse  emergency
7  STF-702887af       Gina Moore   nurse  emergency
8  STF-249f63bb  Gabrielle Davis   nurse  emergency
9  STF-094f410b       Ryan Munoz   nurse  emergency

In [42]:
staff_df[5:10]            # select 5 to 10 rows

       staff_id       staff_name   role    service
5  STF-ca932dea  Connie Lawrence  nurse  emergency
6  STF-39082289  Abigail Shaffer  nurse  emergency
7  STF-702887af       Gina Moore  nurse  emergency
8  STF-249f63bb  Gabrielle Davis  nurse  emergency
9  STF-094f410b       Ryan Munoz  nurse  emergency

In [48]:
staff_df.loc[:10]            # select upto and 10 index -> Selecting by index label -> include 10

        staff_id       staff_name    role    service
0   STF-5ca26577     Allison Hill  doctor  emergency
1   STF-02ae59ca      Noah Rhodes  doctor  emergency
2   STF-d8006e7c  Angie Henderson  doctor  emergency
3   STF-212d8b31    Daniel Wagner  doctor  emergency
4   STF-107a58e4  Cristian Santos  doctor  emergency
5   STF-ca932dea  Connie Lawrence   nurse  emergency
6   STF-39082289  Abigail Shaffer   nurse  emergency
7   STF-702887af       Gina Moore   nurse  emergency
8   STF-249f63bb  Gabrielle Davis   nurse  emergency
9   STF-094f410b       Ryan Munoz   nurse  emergency
10  STF-d7ab0c23   Monica Herrera   nurse  emergency

In [49]:
staff_df.iloc[:10]            # select first 10 rows -> Selecting by row number -> not include 10

       staff_id       staff_name    role    service
0  STF-5ca26577     Allison Hill  doctor  emergency
1  STF-02ae59ca      Noah Rhodes  doctor  emergency
2  STF-d8006e7c  Angie Henderson  doctor  emergency
3  STF-212d8b31    Daniel Wagner  doctor  emergency
4  STF-107a58e4  Cristian Santos  doctor  emergency
5  STF-ca932dea  Connie Lawrence   nurse  emergency
6  STF-39082289  Abigail Shaffer   nurse  emergency
7  STF-702887af       Gina Moore   nurse  emergency
8  STF-249f63bb  Gabrielle Davis   nurse  emergency
9  STF-094f410b       Ryan Munoz   nurse  emergency

In [52]:
staff_df[ :2][0:10]

       staff_id    staff_name    role    service
0  STF-5ca26577  Allison Hill  doctor  emergency
1  STF-02ae59ca   Noah Rhodes  doctor  emergency

In [60]:
staff_df[ 5:10][3:10]  #-> pahale staff_df[5:10] perform hoty nntr tyamedhale [3:10] ghetay

       staff_id       staff_name   role    service
8  STF-249f63bb  Gabrielle Davis  nurse  emergency
9  STF-094f410b       Ryan Munoz  nurse  emergency

In [61]:
staff_df[ 5:10]

       staff_id       staff_name   role    service
5  STF-ca932dea  Connie Lawrence  nurse  emergency
6  STF-39082289  Abigail Shaffer  nurse  emergency
7  STF-702887af       Gina Moore  nurse  emergency
8  STF-249f63bb  Gabrielle Davis  nurse  emergency
9  STF-094f410b       Ryan Munoz  nurse  emergency

In [65]:
staff_df[ 5:10][3:10]     #Slice twice  second on the first slice

       staff_id       staff_name   role    service
8  STF-249f63bb  Gabrielle Davis  nurse  emergency
9  STF-094f410b       Ryan Munoz  nurse  emergency

In [66]:
staff_df.iloc[8:10]           # same as the above

       staff_id       staff_name   role    service
8  STF-249f63bb  Gabrielle Davis  nurse  emergency
9  STF-094f410b       Ryan Munoz  nurse  emergency

In [69]:
staff_df[ :2, : 2]

InvalidIndexError: (slice(None, 2, None), slice(None, 2, None))

In [70]:
staff_df.iloc[ :2, : 2]

       staff_id    staff_name
0  STF-5ca26577  Allison Hill
1  STF-02ae59ca   Noah Rhodes

In [73]:
staff_df.iloc[ :2, : 3]   # [row,column]  -> [from:upto , from:upto]

       staff_id    staff_name    role
0  STF-5ca26577  Allison Hill  doctor
1  STF-02ae59ca   Noah Rhodes  doctor

In [74]:
staff_df.iloc[ :2, : 10]

       staff_id    staff_name    role    service
0  STF-5ca26577  Allison Hill  doctor  emergency
1  STF-02ae59ca   Noah Rhodes  doctor  emergency

In [76]:
staff_df.iloc[ :20]   #get first 20 rows

        staff_id        staff_name    role    service
0   STF-5ca26577      Allison Hill  doctor  emergency
1   STF-02ae59ca       Noah Rhodes  doctor  emergency
2   STF-d8006e7c   Angie Henderson  doctor  emergency
3   STF-212d8b31     Daniel Wagner  doctor  emergency
4   STF-107a58e4   Cristian Santos  doctor  emergency
5   STF-ca932dea   Connie Lawrence   nurse  emergency
6   STF-39082289   Abigail Shaffer   nurse  emergency
7   STF-702887af        Gina Moore   nurse  emergency
8   STF-249f63bb   Gabrielle Davis   nurse  emergency
9   STF-094f410b        Ryan Munoz   nurse  emergency
10  STF-d7ab0c23    Monica Herrera   nurse  emergency
11  STF-e51bdcb4      Jamie Arnold   nurse  emergency
12  STF-8cabb71f      Lisa Hensley   nurse  emergency
13  STF-34c0563d  Michele Williams   nurse  emergency
14  STF-130577e6      Dylan Miller   nurse  emergency
15  STF-768c9d6f     Brian Ramirez   nurse  emergency
16  STF-abec8336        Holly Wood   nurse  emergency
17  STF-6f6535f8      Derek Zuniga   nurse  emergency
18  STF-b4fb711c      Lisa Jackson   nurse  emergency
19  STF-434f45a6        Carla Gray   nurse  emergency

In [75]:
staff_df.loc[ :2, ["staff_id","role"]]

       staff_id    role
0  STF-5ca26577  doctor
1  STF-02ae59ca  doctor
2  STF-d8006e7c  doctor

In [77]:
staff_df

         staff_id       staff_name               role    service
0    STF-5ca26577     Allison Hill             doctor  emergency
1    STF-02ae59ca      Noah Rhodes             doctor  emergency
2    STF-d8006e7c  Angie Henderson             doctor  emergency
3    STF-212d8b31    Daniel Wagner             doctor  emergency
4    STF-107a58e4  Cristian Santos             doctor  emergency
..            ...              ...                ...        ...
105  STF-2c8a995d       Marc Moore  nursing_assistant        ICU
106  STF-251c7770    Sharon Cherry  nursing_assistant        ICU
107  STF-3fb56209   Sierra Johnson  nursing_assistant        ICU
108  STF-a8c30e00    Evelyn Galvan  nursing_assistant        ICU
109  STF-021fdf9f   Sharon Cochran  nursing_assistant        ICU

[110 rows x 4 columns]

In [79]:
staff_df.sort_values(by="staff_name",ascending = True)

        staff_id       staff_name               role           service
96  STF-1881ede3       Aaron Wise              nurse               ICU
6   STF-39082289  Abigail Shaffer              nurse         emergency
89  STF-3c9039fc    Aimee Montoya              nurse               ICU
0   STF-5ca26577     Allison Hill             doctor         emergency
65  STF-48fc5275       Amber Kidd              nurse  general_medicine
..           ...              ...                ...               ...
60  STF-624c0289  Victoria Garcia              nurse  general_medicine
71  STF-613d0d64   Whitney Peters              nurse  general_medicine
69  STF-98cc6508    William Baker              nurse  general_medicine
84  STF-3bbc468d  Zachary Ferrell              nurse               ICU
28  STF-bc4c419e    Zachary Hicks  nursing_assistant         emergency

[110 rows x 4 columns]

In [81]:
staff_df.sort_values(by=["role","service"],ascending = True)

        staff_id       staff_name               role  service
78  STF-00b6381d    Steve Sanchez             doctor      ICU
79  STF-cb0c3c50      Lisa Barnes             doctor      ICU
80  STF-dd7b8861    Kelly Donovan             doctor      ICU
81  STF-0b0dfb38       Mike Allen             doctor      ICU
82  STF-a1659ed6    Michael Evans             doctor      ICU
..           ...              ...                ...      ...
46  STF-00fbd582      John Pierce  nursing_assistant  surgery
47  STF-42844552  Shane Henderson  nursing_assistant  surgery
48  STF-1ded4330     Joshua Blair  nursing_assistant  surgery
49  STF-5d51a8ea      Eric Carney  nursing_assistant  surgery
50  STF-b19d1900   Jessica Holmes  nursing_assistant  surgery

[110 rows x 4 columns]

In [100]:
staff_df.sort_values(by=["role","service"],ascending = [False,True])

         staff_id         staff_name               role           service
102  STF-c479af96   Rebecca Valencia  nursing_assistant               ICU
103  STF-79236218   Christine Wright  nursing_assistant               ICU
104  STF-55d90e65     Richard Henson  nursing_assistant               ICU
105  STF-2c8a995d         Marc Moore  nursing_assistant               ICU
106  STF-251c7770      Sharon Cherry  nursing_assistant               ICU
..            ...                ...                ...               ...
53   STF-51ad7d05         Mark Perez             doctor  general_medicine
29   STF-15c07995  Anthony Rodriguez             doctor           surgery
30   STF-0aaed714  Rebecca Henderson             doctor           surgery
31   STF-30d44186      James Ferrell             doctor           surgery
32   STF-46e008d1    Tricia Valencia             doctor           surgery

[110 rows x 4 columns]

In [82]:
staff_df.query("role == 'doctor'")

        staff_id         staff_name    role           service
0   STF-5ca26577       Allison Hill  doctor         emergency
1   STF-02ae59ca        Noah Rhodes  doctor         emergency
2   STF-d8006e7c    Angie Henderson  doctor         emergency
3   STF-212d8b31      Daniel Wagner  doctor         emergency
4   STF-107a58e4    Cristian Santos  doctor         emergency
29  STF-15c07995  Anthony Rodriguez  doctor           surgery
30  STF-0aaed714  Rebecca Henderson  doctor           surgery
31  STF-30d44186      James Ferrell  doctor           surgery
32  STF-46e008d1    Tricia Valencia  doctor           surgery
51  STF-b4b308d8       Danny Morgan  doctor  general_medicine
52  STF-df08bf0e   Crystal Robinson  doctor  general_medicine
53  STF-51ad7d05         Mark Perez  doctor  general_medicine
78  STF-00b6381d      Steve Sanchez  doctor               ICU
79  STF-cb0c3c50        Lisa Barnes  doctor               ICU
80  STF-dd7b8861      Kelly Donovan  doctor               ICU
81  STF-0b0dfb38         Mike Allen  doctor               ICU
82  STF-a1659ed6      Michael Evans  doctor               ICU
83  STF-ab59db32         Paul Jones  doctor               ICU

In [83]:
staff_df.query("`role` == 'doctor'")

        staff_id         staff_name    role           service
0   STF-5ca26577       Allison Hill  doctor         emergency
1   STF-02ae59ca        Noah Rhodes  doctor         emergency
2   STF-d8006e7c    Angie Henderson  doctor         emergency
3   STF-212d8b31      Daniel Wagner  doctor         emergency
4   STF-107a58e4    Cristian Santos  doctor         emergency
29  STF-15c07995  Anthony Rodriguez  doctor           surgery
30  STF-0aaed714  Rebecca Henderson  doctor           surgery
31  STF-30d44186      James Ferrell  doctor           surgery
32  STF-46e008d1    Tricia Valencia  doctor           surgery
51  STF-b4b308d8       Danny Morgan  doctor  general_medicine
52  STF-df08bf0e   Crystal Robinson  doctor  general_medicine
53  STF-51ad7d05         Mark Perez  doctor  general_medicine
78  STF-00b6381d      Steve Sanchez  doctor               ICU
79  STF-cb0c3c50        Lisa Barnes  doctor               ICU
80  STF-dd7b8861      Kelly Donovan  doctor               ICU
81  STF-0b0dfb38         Mike Allen  doctor               ICU
82  STF-a1659ed6      Michael Evans  doctor               ICU
83  STF-ab59db32         Paul Jones  doctor               ICU

In [84]:
staff_df.query("'role' == 'doctor'")    # column name under `` this and rows values under ''

KeyError: False

In [85]:
staff_df.query("`role` == `doctor`")    # column name under `` this and rows values under ''

UndefinedVariableError: name 'doctor' is not defined

In [87]:
staff_df.query("`role` == 'doctor'")          # back tick `` nahi lihili tri chalte connecting name asel tr like count_of_num -> count of num sathi lihav lagel

        staff_id         staff_name    role           service
0   STF-5ca26577       Allison Hill  doctor         emergency
1   STF-02ae59ca        Noah Rhodes  doctor         emergency
2   STF-d8006e7c    Angie Henderson  doctor         emergency
3   STF-212d8b31      Daniel Wagner  doctor         emergency
4   STF-107a58e4    Cristian Santos  doctor         emergency
29  STF-15c07995  Anthony Rodriguez  doctor           surgery
30  STF-0aaed714  Rebecca Henderson  doctor           surgery
31  STF-30d44186      James Ferrell  doctor           surgery
32  STF-46e008d1    Tricia Valencia  doctor           surgery
51  STF-b4b308d8       Danny Morgan  doctor  general_medicine
52  STF-df08bf0e   Crystal Robinson  doctor  general_medicine
53  STF-51ad7d05         Mark Perez  doctor  general_medicine
78  STF-00b6381d      Steve Sanchez  doctor               ICU
79  STF-cb0c3c50        Lisa Barnes  doctor               ICU
80  STF-dd7b8861      Kelly Donovan  doctor               ICU
81  STF-0b0dfb38         Mike Allen  doctor               ICU
82  STF-a1659ed6      Michael Evans  doctor               ICU
83  STF-ab59db32         Paul Jones  doctor               ICU

In [91]:
staff_df.head(1)

       staff_id    staff_name    role    service
0  STF-5ca26577  Allison Hill  doctor  emergency

In [92]:
staff_df.iterrows()

In [93]:
for idx,rows in staff_df.iterrows():
    print(idx,rows)
    break

0 staff_id      STF-5ca26577
staff_name    Allison Hill
role                doctor
service          emergency
Name: 0, dtype: object

In [98]:
count=0
for idx,rows in staff_df.iterrows():
    print(idx,rows)
    count+=1

0 staff_id      STF-5ca26577
staff_name    Allison Hill
role                doctor
service          emergency
Name: 0, dtype: object
1 staff_id      STF-02ae59ca
staff_name     Noah Rhodes
role                doctor
service          emergency
Name: 1, dtype: object
2 staff_id         STF-d8006e7c
staff_name    Angie Henderson
role                   doctor
service             emergency
Name: 2, dtype: object
3 staff_id       STF-212d8b31
staff_name    Daniel Wagner
role                 doctor
service           emergency
Name: 3, dtype: object
4 staff_id         STF-107a58e4
staff_name    Cristian Santos
role                   doctor
service             emergency
Name: 4, dtype: object
5 staff_id         STF-ca932dea
staff_name    Connie Lawrence
role                    nurse
service             emergency
Name: 5, dtype: object
6 staff_id         STF-39082289
staff_name    Abigail Shaffer
role                    nurse
service             emergency
Name: 6, dtype: object
7 staff_id      STF-702887af
staff_name      Gina Moore
role                 nurse
service          emergency
Name: 7, dtype: object
8 staff_id         STF-249f63bb
staff_name    Gabrielle Davis
role                    nurse
service             emergency
Name: 8, dtype: object
9 staff_id      STF-094f410b
staff_name      Ryan Munoz
role                 nurse
service          emergency
Name: 9, dtype: object
10 staff_id        STF-d7ab0c23
staff_name    Monica Herrera
role                   nurse
service            emergency
Name: 10, dtype: object
11 staff_id      STF-e51bdcb4
staff_name    Jamie Arnold
role                 nurse
service          emergency
Name: 11, dtype: object
12 staff_id      STF-8cabb71f
staff_name    Lisa Hensley
role                 nurse
service          emergency
Name: 12, dtype: object
13 staff_id          STF-34c0563d
staff_name    Michele Williams
role                     nurse
service              emergency
Name: 13, dtype: object
14 staff_id      STF-130577e6
staff_name    Dylan Miller
role                 nurse
service          emergency
Name: 14, dtype: object
15 staff_id       STF-768c9d6f
staff_name    Brian Ramirez
role                  nurse
service           emergency
Name: 15, dtype: object
16 staff_id      STF-abec8336
staff_name      Holly Wood
role                 nurse
service          emergency
Name: 16, dtype: object
17 staff_id      STF-6f6535f8
staff_name    Derek Zuniga
role                 nurse
service          emergency
Name: 17, dtype: object
18 staff_id      STF-b4fb711c
staff_name    Lisa Jackson
role                 nurse
service          emergency
Name: 18, dtype: object
19 staff_id      STF-434f45a6
staff_name      Carla Gray
role                 nurse
service          emergency
Name: 19, dtype: object
20 staff_id              STF-db5926dd
staff_name    Margaret Hawkins DDS
role                         nurse
service                  emergency
Name: 20, dtype: object
21 staff_id      STF-99227609
staff_name     Patty Perez
role                 nurse
service          emergency
Name: 21, dtype: object
22 staff_id      STF-fd4df1f4
staff_name     Ethan Adams
role                 nurse
service          emergency
Name: 22, dtype: object
23 staff_id      STF-317a74b9
staff_name    Tommy Walter
role                 nurse
service          emergency
Name: 23, dtype: object
24 staff_id           STF-1ad309f8
staff_name       Matthew Foster
role          nursing_assistant
service               emergency
Name: 24, dtype: object
25 staff_id           STF-4ed3b149
staff_name           Judy Baker
role          nursing_assistant
service               emergency
Name: 25, dtype: object
26 staff_id           STF-a8e146c6
staff_name         Justin Baker
role          nursing_assistant
service               emergency
Name: 26, dtype: object
27 staff_id           STF-b9e859d8
staff_name       Stephanie Ross
role          nursing_assistant
service               emergency
Name: 27, dtype: object
28 staff_id           STF-bc4c419e
staff_name        Zachary Hicks
role          nursing_assistant
service               emergency
Name: 28, dtype: object
29 staff_id           STF-15c07995
staff_name    Anthony Rodriguez
role                     doctor
service                 surgery
Name: 29, dtype: object
30 staff_id           STF-0aaed714
staff_name    Rebecca Henderson
role                     doctor
service                 surgery
Name: 30, dtype: object
31 staff_id       STF-30d44186
staff_name    James Ferrell
role                 doctor
service             surgery
Name: 31, dtype: object
32 staff_id         STF-46e008d1
staff_name    Tricia Valencia
role                   doctor
service               surgery
Name: 32, dtype: object
33 staff_id          STF-f2a7bd6f
staff_name    Nathan Maldonado
role                     nurse
service                surgery
Name: 33, dtype: object
34 staff_id        STF-d7c28217
staff_name    Debra Davidson
role                   nurse
service              surgery
Name: 34, dtype: object
35 staff_id        STF-2bfe24c1
staff_name    Jeffrey Chavez
role                   nurse
service              surgery
Name: 35, dtype: object
36 staff_id      STF-3abc4202
staff_name    Sherri Baker
role                 nurse
service            surgery
Name: 36, dtype: object
37 staff_id          STF-bc33b33b
staff_name    Cassandra Gaines
role                     nurse
service                surgery
Name: 37, dtype: object
38 staff_id          STF-2c155ebf
staff_name    Elizabeth Fowler
role                     nurse
service                surgery
Name: 38, dtype: object
39 staff_id         STF-3007d318
staff_name    Brittany Farmer
role                    nurse
service               surgery
Name: 39, dtype: object
40 staff_id      STF-13f243f8
staff_name    Paula Moreno
role                 nurse
service            surgery
Name: 40, dtype: object
41 staff_id      STF-7a5180f0
staff_name      Fred Smith
role                 nurse
service            surgery
Name: 41, dtype: object
42 staff_id       STF-15269c02
staff_name    Sherry Decker
role                  nurse
service             surgery
Name: 42, dtype: object
43 staff_id          STF-36b3e876
staff_name    Anthony Humphrey
role                     nurse
service                surgery
Name: 43, dtype: object
44 staff_id         STF-177e5df8
staff_name    Angelica Tucker
role                    nurse
service               surgery
Name: 44, dtype: object
45 staff_id       STF-3d6f6916
staff_name    Philip Cannon
role                  nurse
service             surgery
Name: 45, dtype: object
46 staff_id           STF-00fbd582
staff_name          John Pierce
role          nursing_assistant
service                 surgery
Name: 46, dtype: object
47 staff_id           STF-42844552
staff_name      Shane Henderson
role          nursing_assistant
service                 surgery
Name: 47, dtype: object
48 staff_id           STF-1ded4330
staff_name         Joshua Blair
role          nursing_assistant
service                 surgery
Name: 48, dtype: object
49 staff_id           STF-5d51a8ea
staff_name          Eric Carney
role          nursing_assistant
service                 surgery
Name: 49, dtype: object
50 staff_id           STF-b19d1900
staff_name       Jessica Holmes
role          nursing_assistant
service                 surgery
Name: 50, dtype: object
51 staff_id          STF-b4b308d8
staff_name        Danny Morgan
role                    doctor
service       general_medicine
Name: 51, dtype: object
52 staff_id          STF-df08bf0e
staff_name    Crystal Robinson
role                    doctor
service       general_medicine
Name: 52, dtype: object
53 staff_id          STF-51ad7d05
staff_name          Mark Perez
role                    doctor
service       general_medicine
Name: 53, dtype: object
54 staff_id          STF-2e7bf9ac
staff_name       Shannon Jones
role                     nurse
service       general_medicine
Name: 54, dtype: object
55 staff_id          STF-866434e1
staff_name       Michael Lewis
role                     nurse
service       general_medicine
Name: 55, dtype: object
56 staff_id          STF-b8c738af
staff_name      Timothy Duncan
role                     nurse
service       general_medicine
Name: 56, dtype: object
57 staff_id          STF-d6a78473
staff_name     Richard Aguirre
role                     nurse
service       general_medicine
Name: 57, dtype: object
58 staff_id          STF-bcb3f4fe
staff_name        Brent Jordan
role                     nurse
service       general_medicine
Name: 58, dtype: object
59 staff_id          STF-f7ad988b
staff_name         John Daniel
role                     nurse
service       general_medicine
Name: 59, dtype: object
60 staff_id          STF-624c0289
staff_name     Victoria Garcia
role                     nurse
service       general_medicine
Name: 60, dtype: object
61 staff_id          STF-2aeab02a
staff_name      Gerald Hensley
role                     nurse
service       general_medicine
Name: 61, dtype: object
62 staff_id          STF-80c670c1
staff_name         Connor West
role                     nurse
service       general_medicine
Name: 62, dtype: object
63 staff_id          STF-a81bb023
staff_name       Donald Wright
role                     nurse
service       general_medicine
Name: 63, dtype: object
64 staff_id          STF-d569a861
staff_name    Jessica Callahan
role                     nurse
service       general_medicine
Name: 64, dtype: object
65 staff_id          STF-48fc5275
staff_name          Amber Kidd
role                     nurse
service       general_medicine
Name: 65, dtype: object
66 staff_id          STF-3ea6bb2e
staff_name         Tracy House
role                     nurse
service       general_medicine
Name: 66, dtype: object
67 staff_id          STF-9dd2c561
staff_name        Carol Tucker
role                     nurse
service       general_medicine
Name: 67, dtype: object
68 staff_id          STF-3014d5f2
staff_name         James Brown
role                     nurse
service       general_medicine
Name: 68, dtype: object
69 staff_id          STF-98cc6508
staff_name       William Baker
role                     nurse
service       general_medicine
Name: 69, dtype: object
70 staff_id          STF-67f5247b
staff_name    Jordan Henderson
role                     nurse
service       general_medicine
Name: 70, dtype: object
71 staff_id          STF-613d0d64
staff_name      Whitney Peters
role                     nurse
service       general_medicine
Name: 71, dtype: object
72 staff_id           STF-a74d38db
staff_name    Brittney Phillips
role                      nurse
service        general_medicine
Name: 72, dtype: object
73 staff_id           STF-b3eabf08
staff_name       Lauren Daniels
role          nursing_assistant
service        general_medicine
Name: 73, dtype: object
74 staff_id           STF-b5fcdde5
staff_name            Amy Silva
role          nursing_assistant
service        general_medicine
Name: 74, dtype: object
75 staff_id           STF-9b1ae05a
staff_name          Sarah Moore
role          nursing_assistant
service        general_medicine
Name: 75, dtype: object
76 staff_id           STF-9a4c0716
staff_name         Angela Lopez
role          nursing_assistant
service        general_medicine
Name: 76, dtype: object
77 staff_id           STF-3b8145ed
staff_name          Megan Young
role          nursing_assistant
service        general_medicine
Name: 77, dtype: object
78 staff_id       STF-00b6381d
staff_name    Steve Sanchez
role                 doctor
service                 ICU
Name: 78, dtype: object
79 staff_id      STF-cb0c3c50
staff_name     Lisa Barnes
role                doctor
service                ICU
Name: 79, dtype: object
80 staff_id       STF-dd7b8861
staff_name    Kelly Donovan
role                 doctor
service                 ICU
Name: 80, dtype: object
81 staff_id      STF-0b0dfb38
staff_name      Mike Allen
role                doctor
service                ICU
Name: 81, dtype: object
82 staff_id       STF-a1659ed6
staff_name    Michael Evans
role                 doctor
service                 ICU
Name: 82, dtype: object
83 staff_id      STF-ab59db32
staff_name      Paul Jones
role                doctor
service                ICU
Name: 83, dtype: object
84 staff_id         STF-3bbc468d
staff_name    Zachary Ferrell
role                    nurse
service                   ICU
Name: 84, dtype: object
85 staff_id      STF-6c412e28
staff_name    Daniel Baker
role                 nurse
service                ICU
Name: 85, dtype: object
86 staff_id        STF-d7371c06
staff_name    Shirley Suarez
role                   nurse
service                  ICU
Name: 86, dtype: object
87 staff_id          STF-d77b1013
staff_name    Christopher Bass
role                     nurse
service                    ICU
Name: 87, dtype: object
88 staff_id      STF-a94474ff
staff_name     Lisa Archer
role                 nurse
service                ICU
Name: 88, dtype: object
89 staff_id       STF-3c9039fc
staff_name    Aimee Montoya
role                  nurse
service                 ICU
Name: 89, dtype: object
90 staff_id          STF-cacb7290
staff_name    Matthew Mcmillan
role                     nurse
service                    ICU
Name: 90, dtype: object
91 staff_id         STF-446cb017
staff_name    Brian Rodriguez
role                    nurse
service                   ICU
Name: 91, dtype: object
92 staff_id       STF-0196d344
staff_name    Denise Jacobs
role                  nurse
service                 ICU
Name: 92, dtype: object
93 staff_id           STF-1b299895
staff_name    Christina Walters
role                      nurse
service                     ICU
Name: 93, dtype: object
94 staff_id        STF-22fe9443
staff_name    John Whitehead
role                   nurse
service                  ICU
Name: 94, dtype: object
95 staff_id        STF-e328da72
staff_name    Anna Henderson
role                   nurse
service                  ICU
Name: 95, dtype: object
96 staff_id      STF-1881ede3
staff_name      Aaron Wise
role                 nurse
service                ICU
Name: 96, dtype: object
97 staff_id          STF-1bdb5ff4
staff_name    Deborah Figueroa
role                     nurse
service                    ICU
Name: 97, dtype: object
98 staff_id       STF-5fadf416
staff_name    Jessica Smith
role                  nurse
service                 ICU
Name: 98, dtype: object
99 staff_id       STF-4993c812
staff_name    Stephen Mckee
role                  nurse
service                 ICU
Name: 99, dtype: object
100 staff_id        STF-598bd5c2
staff_name    Sandra Aguilar
role                   nurse
service                  ICU
Name: 100, dtype: object
101 staff_id        STF-fdc1ae8e
staff_name    Cameron Parker
role                   nurse
service                  ICU
Name: 101, dtype: object
102 staff_id           STF-c479af96
staff_name     Rebecca Valencia
role          nursing_assistant
service                     ICU
Name: 102, dtype: object
103 staff_id           STF-79236218
staff_name     Christine Wright
role          nursing_assistant
service                     ICU
Name: 103, dtype: object
104 staff_id           STF-55d90e65
staff_name       Richard Henson
role          nursing_assistant
service                     ICU
Name: 104, dtype: object
105 staff_id           STF-2c8a995d
staff_name           Marc Moore
role          nursing_assistant
service                     ICU
Name: 105, dtype: object
106 staff_id           STF-251c7770
staff_name        Sharon Cherry
role          nursing_assistant
service                     ICU
Name: 106, dtype: object
107 staff_id           STF-3fb56209
staff_name       Sierra Johnson
role          nursing_assistant
service                     ICU
Name: 107, dtype: object
108 staff_id           STF-a8c30e00
staff_name        Evelyn Galvan
role          nursing_assistant
service                     ICU
Name: 108, dtype: object
109 staff_id           STF-021fdf9f
staff_name       Sharon Cochran
role          nursing_assistant
service                     ICU
Name: 109, dtype: object

In [99]:
print(count)

110

In [97]:
staff_df.shape

(110, 4)